[2021-07-07 09:55] baraeb92 opened #17 "Serve database structure from on the wargabantuwarga.com static files infrastructure instead of merely linking to the Google Spreadsheets files"
## Description

Currently, the data that we presented on the wargabantuwarga.com is fetched directly from Google Docs and Google Suite infrastructure, which might limit the performance and access when accessed nationwide.

## Implementation Model

Perhaps use cache feature, to allow us to fetch the cached data from our server, of which we call the Google Suite server only once per 15 minutes. That

[2021-07-07 10:02] baraeb92 opened #18 "Adding GTM to enable us to track information click rate on the wargabantuwarga"
## Description

We probably need to start adding analytical tools to wargabantuwarga.com, because has multiple information entry, we need to track which clicks or which information is most relevant to the user, this will eventually be useful for us to enhance the information structure of the web, to ensure the most important information is displayed first.

Job Story

When the user is accessing, I

[2021-07-07 10:32] zainfathoni commented on #17
Our current implementation is already like that, but it's limited only to that [one particular document](https://kcov.id/wbw-docs). We need to expand this implementation into the other documents, especially the Google Sheets file since we don't have any implementation for it yet.

@adityapurwa would you like to work on it?

[2021-07-08 00:54] zainfathoni opened #21 "Getting a blank page on the first page load"
## Description

In the iOS Safari browser, I keep getting a blank page on the first load, usually right after a deployment when the server cache is refreshed after fetching new data from the Google Docs.

The page is only rendered after refreshing the page.

## Expected Behaviour

The page should have been rendered ok the first load of the page, without requiring any refresh.

## Additional Inform

[2021-07-08 00:58] zainfathoni opened #22 "Add Sentry Integration"
## Description

We need a way to capture runtime errors like #21.

## Implementation Model

KawalCOVID19 has a Sentry license that we can integrate with. Please let @zainfathoni know if you want to work on this issue.

Please bear in mind that the integration should be done while minimizing its impact on the Core Web Vitals.

## Tasks

- [ ] Prepare the Sentry project
- [ ] Implement the integrati

[2021-07-08 01:04] kalwabed commented on #22
hey @zainfathoni, I think I can help with this.

[2021-07-08 11:54] andreasbudiman opened #24 "SEO Strategy To Reach More People"
<html>
<body>

No | Aspect | From | To | Reason
-- | -- | -- | -- | --
1 | Title Tag | Warga Bantu Warga | Warga Bantu Warga \| Informasi Faskes   & Alkes Untuk Covid 19 | It provides more clarity and comply   widely known SEO standards
2 | Meta Description | Inisiatif warga untuk berbagi informasi seputar fasilitas   kesehatan dan alat kesehatan untuk COVID-19 | Inisiatif warga untuk berbagi info

[2021-07-08 12:12] zainfathoni commented on #24
Thank you for the suggestions Mas @andreasbudiman.
However, could you please format your input into a table like this for the sake of readability?

| No | Aspects   | From              | To                                                           | Reasons                                                        |
|----|-----------|-------------------|-----------------------------------------------

[2021-07-08 13:07] baraeb92 commented on #24
Kalau bisa ditambahin Open Graph suggestionnya juga even better mas.

[2021-07-08 15:33] zainfathoni opened #26 "[1..2] Update Title Tag & Meta Description"

[2021-07-08 15:39] zainfathoni opened #27 "[3] Wrap the hero image with h1"

[2021-07-08 15:39] zainfathoni opened #28 "[4..10] Remove H1 from the Google Docs and change it with something else"

[2021-07-08 15:39] zainfathoni opened #29 "[11..12] Update Open Graph Title & Description"

[2021-07-08 16:21] zainfathoni commented on #28
Google Docs updated accordingly.

[2021-07-08 16:21] #28 closed

[2021-07-08 16:49] #26 closed

[2021-07-08 16:49] #27 closed

[2021-07-08 16:49] #29 closed

[2021-07-08 16:53] zainfathoni commented on #24
Saya sudah implementasi semua poin dari no. 1 s.d. no. 12 ya Mas @andreasbudiman, tolong bantu cek apakah sudah sesuai dengan yang seharusnya atau belum, makasih. 😁

Khusus untuk poin no. 13, sepertinya belum bisa kita lakukan dulu untuk saat ini, karena kita masih menggunakan Google Docs sebagai CMS-nya, di mana kita tidak punya kendali atas atribut `rel="nofollow"`-nya.

Kami akan catat ini seba

[2021-07-08 16:55] zainfathoni commented on #24
<img width="623" alt="Screenshot 2021-07-09 at 00 54 54" src="https://user-images.githubusercontent.com/6315466/124961632-4c79fa80-e050-11eb-9b32-a4f72d2a1d51.png">

Nampaknya perubahan saya barusan sudah langsung berpengaruh di Google. Terima kasih banyak atas sarannya Mas @andreasbudiman 👍

[2021-07-09 00:53] zainfathoni opened #31 "Migrate the home page from Google Docs to Netlify CMS"
## Overview

Based on the Website Improvements #23 discussion, we are planning to migrate our Google Docs-based CMS into a proper Headless CMS. This would provide more granular controls over the HTML structure that we're rendering on the page that allows us to style the website flexibly.

## Implementation Model

- Use [Tina Cloud](https://tina.io/cloud/) as the WYSIWYG headless CMS and store the

[2021-07-09 10:20] zainfathoni opened #34 "Integrate Tailwind CSS"
Please use Tailwind CSS with its JIT compiler to style the page

[2021-07-09 15:13] zainfathoni opened #37 "Build an experimental page using Tina Cloud"
https://tina.io

[2021-07-09 15:15] zainfathoni opened #38 "Implement an adequate styling for the Netlify CMS-managed home page"
## Tasks

- [x] #114
- [x] #190

[2021-07-09 15:15] zainfathoni opened #39 "Replace the homepage with a page sourced from the local markdown files managed on Netlify CMS"

[2021-07-09 15:18] zainfathoni commented on #18
<img width="1026" alt="Screenshot 2021-07-09 at 23 16 04" src="https://user-images.githubusercontent.com/6315466/125100588-d9ce5500-e10b-11eb-83cb-f7804aeb3fc6.png">

GTM is successfully integrated [without any performance degradation](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fwww.wargabantuwarga.com%2F), bravo!.

[2021-07-10 00:04] #18 closed

[2021-07-10 03:57] iamyuu commented on #21
In the MacBook Safari browser I also get a blank page on the first load

[2021-07-10 06:06] andriawan commented on #34
could i handle this task mas @zainfathoni. But i need guide for detail static pages and its JSON,

[2021-07-10 08:27] zainfathoni opened #44 "[13] Add rel="nofollow" attribute to all external links"
Since we don't have such granular control over Google Docs' links, we have to wait for #31 to be completed before proceeding with this improvement.

Hence this is currently blocked by #31.

[2021-07-10 10:50] zainfathoni opened #45 "Build an experimental page using Netlify CMS"

[2021-07-10 10:58] zainfathoni commented on #37
My attempt in #40 is failed.
I'm going to try another attempt with #45.

[2021-07-10 10:58] #37 closed

[2021-07-11 07:16] #45 closed

[2021-07-11 07:18] zainfathoni opened #62 "Provide wargabantuwarga.com content editors access to Netlify CMS"
## References

[Loom videos](https://www.loom.com/my-videos/wargabantuwarga.com)

## Current Tasks

- [x] Create a Loom video for the onboarding process: [Loom videos](https://www.loom.com/my-videos/wargabantuwarga.com)
- [x] Hold a workshop with the content editors to onboard them into the CMS

[2021-07-11 08:24] zainfathoni opened #63 "Render fetched JSON into static pages"

[2021-07-11 08:33] zainfathoni opened #64 "Implement FAQ Page"
## Description

Currently, one of the links on our website links to an [FAQ Google Sheets](https://kcov.id/wbw-faq).

We need to provide an easy way to consume its content.

## Implementation Model

The Google Sheets fetcher has been implemented on #33 by @adityapurwa. We can use the same method to fetch this https://kcov.id/wbw-faq Google Sheets.

## Tasks

- [x] #65
- [x] #66

[2021-07-11 08:35] zainfathoni opened #65 "Implement FAQ Sheets fetcher"

[2021-07-11 08:35] zainfathoni opened #66 "Build a searchable FAQ page based on the fetched FAQ data"

[2021-07-11 09:20] andriawan commented on #64
let me handle this @zainfathoni

[2021-07-11 13:44] #65 closed

[2021-07-11 14:21] andriawan commented on #64
is there any specific UI design for this page @zainfathoni ?

[2021-07-11 18:07] baraeb92 opened #68 "Build a mobile-first responsive design for Warga Bantu Warga"
## Overview

Description

 As a user who uses the mobile browser to visit the website I want all important information on the web to be mobile friendly so I can easily be accessing it using my relatively small mobile screen size, per instruction here: [https://material.io/design/layout/responsive-layout-grid.html#columns-gutters-and-margins](https://material.io/design/layout/responsive-layout-grid

[2021-07-11 23:06] zainfathoni opened #69 "Install `stylelint` and `stylelint-config-recommended` dependencies and include it into our Git pre-commit hooks."
Install `stylelint` and `stylelint-config-recommended` dependencies and include it into our Git pre-commit hooks.

## Examples

- [Install `stylelint-config-recommended`](https://github.com/zainfathoni/rumahberbagi-app/commit/725b68186e792aa13e18c315371f17c97a925f6e)
- [Configuring Git pre-commit hooks using `lint-staged`](https://github.com/zainfathoni/rumahberbagi-app/commit/419445c7c3a980bf3ad6

[2021-07-11 23:15] #34 closed

[2021-07-12 00:03] #69 closed

[2021-07-12 00:06] zainfathoni opened #72 "Integrate Headless UI for an easy integration with React"

[2021-07-12 00:12] #72 closed

[2021-07-12 00:56] zainfathoni opened #76 "Fetch all tabs in the database sheets"
Apparently, the sheets fetcher implementation in #33 is only fetching the first tab.

<img width="264" alt="Screenshot 2021-07-12 at 08 55 48" src="https://user-images.githubusercontent.com/6315466/125215865-24f48d80-e2ef-11eb-9334-770b19f29beb.png">

Please update the implementation for fetching all tabs.

[2021-07-12 01:32] zainfathoni commented on #64
Please try to implement Tailwind UI's responsive design for this, as I am planning to do in #75.

If you need any help for it, you can message me privately. 😉

[2021-07-12 03:58] #76 closed

[2021-07-14 08:35] baraeb92 opened #83 "Add reporting button, to report any information that no longer relevant, or has poor quality."
Description

As a user who is searching for relevant and high-quality information related to Covid-19, I want the wargabantuwarga to display the most accurate information only so that I don't waste time when trying to get in touch and use the information only to find out that the information is outdated or misleading.

Acceptance Criteria

**Given that** a user who has information related to inacc

[2021-07-14 10:59] zainfathoni commented on #83
Google Forms has a feature to [prefill the form ahead](https://www.labnol.org/prefilled-google-forms-200601) based on the URL.

If we managed to deduce the URL format for prefilling the forms, we can reduce the frictions from the user by attaching the report button/CTA into each item and generating specific URLs for each item to prefill the form with the details from the particular item.

[2021-07-14 11:42] baraeb92 commented on #83
So in this case we need to add each parameter required and customized it based on the page where user click the report button ya mas @zainfathoni ?

[2021-07-14 13:20] zainfathoni commented on #83
Yes, Mas @baraeb92. Please try to experiment with the form prefill feature to understand the pattern of the URLs.

If you need my help in experimenting with the patterns, please grant me edit access to the form so I can try it by myself.

[2021-07-16 11:20] #66 closed

[2021-07-16 16:05] zainfathoni opened #86 "Implement search functionality in Database & Province page"

[2021-07-16 16:05] zainfathoni opened #87 "Implement top navigation and breadcrumbs"
## Description

Implement top navigation, breadcrumbs and page header to create a responsive, mobile-first design.

## Implementation Model

We'll use UI components from [Tailwind UI](https://tailwindui.com/)

## Tasks

- [ ] Application shell
- [ ] Page headers (with breadcrumbs
- [ ] Ensure all components are responsive (mobile-first)

[2021-07-16 16:06] #63 closed

[2021-07-17 02:50] ekamuktia commented on #87
let me handle this issue

could you explain a bit more? @zainfathoni
what i'm thinking it'll be like this:
- breadcrumbs in province/contact page
- top navigation in home page - links to FAQ, Province List Page

[2021-07-17 02:56] ekamuktia commented on #86
It'll be great if there's filter based on Kebutuhan / Lokasi for easier access

Plus, for better search result maybe full text search can be used?
Some library:
https://www.npmjs.com/package/itemsjs (with aggregation to support the filter)
https://www.npmjs.com/package/minisearch

[2021-07-17 02:59] emer7 commented on #38
Halo, issue ini maksudnya apa ya mas? Permisi kontribusi apabila boleh

_Hello, what is this issue about? Would like to try to contribute if possible_

[2021-07-17 03:00] ekamuktia commented on #64
The result from faq sheet fetcher remove new line on the content, so jawaban part doesn't show properly
Let me fix this @zainfathoni

[2021-07-17 03:54] zainfathoni opened #89 "Refactor `useSearch` to be more generic and reusable across pages (optional)"

[2021-07-17 04:38] #86 closed

[2021-07-17 04:38] #89 closed

[2021-07-17 04:46] resir014 commented on #87
I'll take this. I'll grab some stuff from Tailwind UI as discussed by @zainfathoni and work on the following:

- Page headers
- Application shell (w/ navbar + footer)

[2021-07-17 05:43] zainfathoni commented on #38
Thanks, @emer7 !

Please create a draft PR to signal the other contributors that you have started working on it, just like what @resir014 did in #91.

FYI, the page to be styled is already implemented in the [/home-page](pages/home-page.tsx) path.

[2021-07-17 05:59] #64 closed

[2021-07-17 06:03] zainfathoni commented on #86
Sorry, I just read your comment right after I finished implementing and merging #88 😅

I also learnt from @resir014 that there's another search library named [Fuse.js](https://fusejs.io).

I think they are good options to improve our current search functionality, and we can take a closer look at them and try to use them in our implementation as an enhancement on top of my basic implementation.

[2021-07-17 07:15] ekafyi opened #92 "Optimize banner image in Home & FAQs pages"
## Description

Currently the Home and FAQ pages use this banner image: https://firebase-kanvas.imgix.net/warga_bantu_warga/hero_banner.png?auto=format,compress,enhance&fm=pjpg&cs=tinysrgb&fit=scale

Implement following performance improvements on banner image:
- responsive image with `srcset` to load image size based on screen
- blurred placeholder

Objective:
- Faster load and use less data
- Im

[2021-07-17 07:30] zainfathoni opened #93 "FAQ page enhancements"
## Overview

We have finished our basic functionalities for the [FAQ page](https://www.wargabantuwarga.com/faqs).

## Current Tasks

- [ ] Rename the FAQ page path from `/faqs` into `/faq`
- [ ] Reuse `useSearch` custom hook and `SearchForm` component in the FAQ page
- [ ] Implement filter dropdown based on `Kategori Pertanyaan`

[2021-07-17 07:30] zainfathoni opened #94 "Rename the FAQ page path from `/faqs` into `/faq`"

[2021-07-17 07:30] zainfathoni opened #95 "Reuse `useSearch` custom hook and `SearchForm` component in the FAQ page"

[2021-07-17 07:30] zainfathoni opened #96 "Implement a dropdown filter based on `Kategori Pertanyaan`"

[2021-07-17 08:33] #94 closed

[2021-07-17 08:33] #95 closed

[2021-07-17 08:45] zainfathoni opened #99 "Speed up contributors onboarding"
## Overview

Update [CONTRIBUTING.md](https://github.com/kawalcovid19/wargabantuwarga.com/blob/2d11753fd98ad2b3b653e5eab7563eff08335510/CONTRIBUTING.md#L5) with more detailed instructions make onboarding our contributors easier.

## Current Tasks

These are the aspects that we need to cover to ease onboarding our contributors.

- [ ] Explain how we utilise [Draft Pull Requests](https://docs.github

[2021-07-17 08:45] zainfathoni opened #100 "Explain how we utilise Draft Pull Requests to communicate each other (with screenshots)"
https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/changing-the-stage-of-a-pull-request

[2021-07-17 08:46] zainfathoni opened #101 "Explain what the Kanban Board and the Prioritization projects mean"

[2021-07-17 08:46] zainfathoni opened #102 "Explain how to utilise the Labels effectively"
Explain how to utilise the [Labels](https://github.com/kawalcovid19/wargabantuwarga.com/labels) effectively

[2021-07-17 08:46] zainfathoni opened #103 "Explain what our Milestones for the next few months"

[2021-07-17 08:47] ekafyi opened #104 "Add minor mobile UI improvement in province pages"
## Description

Add minor UI improvement in province pages that enhances readability, especially in mobile/small screen views.

1. update list headings font weight from 500 (`font-medium`) to 600 (`font-semibold`)
2. remove "pada" in "Terverifikasi pada" (detail below)
    - 2b. switch icon order to left in mobile views
3. align location icons to top

Rationale for removing "pada" in "Terverifikas

[2021-07-17 08:49] zainfathoni opened #105 "Explain how to find new issues to contribute"

[2021-07-17 08:53] zainfathoni commented on #104
Sounds great, please go ahead with your implementation @ekafyi! Thanks! 🙏

[2021-07-17 08:58] ekafyi commented on #100
*(slightly related)*
If anyone needs refresher/quick "copypasta" on fetching from origin while working on a forked branch (so we can constantly push to the Draft PR and resolve conflicts as we go), I wrote a post on it: https://dev.to/ekafyi/pull-fetch-from-a-forked-github-repository-1p9p

[2021-07-17 09:01] #92 closed

[2021-07-17 11:20] #104 closed

[2021-07-17 11:23] zainfathoni opened #108 "Explain why we're using English in GitHub Issues & PRs"
The reasons we're using English in GitHub Issues & PRs:

1. It's more natural for software engineers to communicate in English because it involves many technical terms in English. Trying to translate them into Bahasa Indonesia posing a risk of miscommunication, while keeping them in English requires us to do a lot of _italic_ formatting, according to [PUEBI](https://puebi.js.org/huruf/miring).
2.

[2021-07-17 11:31] resir014 commented on #31
I think we need to expedite these. Unfortunately the HTML content that we pull from gdocs doesn't follow proper HTML hierarchy, as mentioned here:

![image](https://user-images.githubusercontent.com/5663877/126035478-397f9671-b7ee-41b6-85fe-5bc2ee345460.png)

https://twitter.com/ginseladipura/status/1416343727790985221

---

Some people also complained about too many texts in the homepage.

![imag

[2021-07-17 11:33] zainfathoni commented on #31
Agreed. Once we finished with #87, this should be our top priority. 💪

[2021-07-17 11:34] resir014 commented on #31
A quick fix for the time being is to utilise `@tailwindcss/typography`:

https://tailwindcss-typography.netlify.app/

[2021-07-17 11:35] zainfathoni opened #109 "Utilise `@tailwindcss/typography` to improve the existing Google Docs page user experience."
https://tailwindcss-typography.netlify.app

[2021-07-17 11:36] zainfathoni commented on #31
Got it, thanks! Issue created at #109.

[2021-07-17 11:46] zainfathoni opened #110 "Provinces page enhancements"
## Overview

Since we have finished our basic functionalities for the [Provinces page](https://www.wargabantuwarga.com/provinces), we need to enhance them into our users' best possible experience.

## Current Tasks

- [ ] Use a proper client-side search engine library to power the search functionality in our pages
- [ ] ...

[2021-07-17 11:46] zainfathoni opened #111 "Use a proper client-side search engine library to power the search functionality in our pages"
For better search results, maybe a full-text search can be used?

The potential libraries are:
- https://www.npmjs.com/package/itemsjs (with aggregation to support the filter)
- https://www.npmjs.com/package/minisearch
- https://fusejs.io/

[2021-07-17 11:47] zainfathoni commented on #86
Let's work on it at #110, thanks!

[2021-07-17 11:48] zainfathoni opened #112 "Implement a dropdown filter based on `Kebutuhan`"

[2021-07-17 11:48] zainfathoni opened #113 "Implement a dropdown filter based on `Lokasi`"

[2021-07-17 11:55] ekamuktia opened #115 "SEO Improvement for Province & Contact Pages"
## Description

Improve SEO strategy for province & contact page for better searchability

## Implementation Model

- Use Next SEO to set page meta & open graph data
- Deciding the rule/pattern for each page meta/open graph title & description
For example:
On province page, the title use "Informasi Faskes & Alkes untuk COVID-19 di Provinsi (Nama Provinsi)" rule
On contact page, with "(Penyedia) -

[2021-07-17 15:34] resir014 commented on #38
Added #114 to the task list since it's somewhat linked to this issue as well.

[2021-07-17 15:52] ekafyi opened #118 "(UI improvement) Remove borders from Google Docs-generated Home Page"
## Description

Remove borders from Google Docs-generated "tables" in Home Page UI and replace it with more visually pleasing separator.

from:
![Screen Shot 2021-07-17 at 22 50 47](https://user-images.githubusercontent.com/6597211/126042588-59a1ad9c-acda-4f90-8b3a-b95991053d22.png)

to:
![Screen Shot 2021-07-17 at 22 50 35](https://user-images.githubusercontent.com/6597211/126042580-c4dd8bc9-8556

[2021-07-17 16:02] zainfathoni commented on #118
Approved! 💯
I have also tracked it under #31 epic. Thanks @ekafyi !

[2021-07-17 16:27] zainfathoni commented on #118
Btw, instead of creating your own PR, could you please do it on top of my `feature/typography` branch in #114 PR? Because I updated the styling of that home page and remove all the default styling from Google Docs.

You should be able to push your commits to that branch since you're a maintainer of this repository now. 😁

[2021-07-17 16:57] andriawan commented on #113
I think it will be good to resolved issue #111 first so we can implement it on this improvement mas @zainfathoni .

[2021-07-17 17:07] zainfathoni commented on #118
If you need the Google Docs edit access to update its semantic elements so it matches with our new styling, please let me know @ekafyi.

I can request the access for you, thanks!

[2021-07-17 17:24] #87 closed

[2021-07-17 18:01] #109 closed

[2021-07-17 18:29] zainfathoni commented on #17
All items are completed. Further improvements will be recorded under #110 epic.

[2021-07-17 18:29] #17 closed

[2021-07-17 18:30] baraeb92 commented on #110
Wishing the following enhancement as well:

1. Sort by alpabhetical order
2. Search or Filter by Category
3. Button for direction and call directly from the list.

[2021-07-17 18:47] baraeb92 commented on #110
Something like this![20210718_014641.jpg](https://user-images.githubusercontent.com/23743497/126046806-1f32fa28-af71-46d9-b519-c16dce7fba3b.jpg)

[2021-07-17 18:50] #118 closed

[2021-07-18 02:11] resir014 opened #122 "Implement global navigation to replace the image header"
## Description

The current global header is an image and better

## Implementation Model

### Approach 1

Similar to kcov19's mobile navigation, we'll have a header w/ the current page name, as well as a bottom navigation.

![image](https://user-images.githubusercontent.com/5663877/126053621-cd2f534c-dc0f-4ca4-ae5a-b73e575f14ec.png)

### Approach 2

Mobile version of simple navbar from Tailwind U

[2021-07-18 02:42] aldiharyo commented on #112
Yang filter based on needs seperti di https://indiacovidresources.in itu setelah kota tiket ini bukan?

![image](https://user-images.githubusercontent.com/87590228/126053962-c60f439d-fb6b-4b00-a585-b0dc06440967.png)

[2021-07-18 02:43] zainfathoni opened #125 "Implement virtualization for list views"
## Description

In provinces with a large number of contacts, the item rendering was delayed while scrolling due to a large number of HTML elements that need to be rendered by the browser.

https://user-images.githubusercontent.com/6315466/126053922-3feed848-5b3d-4096-bb42-13b6e983832d.mp4

## Expected Behaviour

There should be no blank screen rendered while scrolling the items.

## Additional In

[2021-07-18 02:44] aldiharyo commented on #110
Setelah filter by kota, next stepnya filter based on needs seperti di https://indiacovidresources.in itu. Saya lihat sudah ada tiketnya by category itu yang seperti ini bukan?

![by category](https://user-images.githubusercontent.com/87590228/126054003-86c09f93-57e7-4977-8a80-46ddb7b62241.jpg)

[2021-07-18 02:46] zainfathoni opened #126 "Implement Navigation Bar for all pages directly managed in this repository"

[2021-07-18 02:47] resir014 opened #127 "Add error pages (404, etc.)"
## Description

Replace the default Next.js Error pages with a customised version tailored for our design

## Implementation Model

[Tailwind UI](https://tailwindui.com/components/marketing/feedback/404-pages) now has examples for error pages (mainly 404 page). We can base it off there for the time being.

## Tasks

- [x] 404 page (`/pages/404.tsx`) #135
- [ ] Fallback Error page (`/pages/_error.t

[2021-07-18 02:51] zainfathoni commented on #110
No, it's not. What I meant in #112 is a dropdown filter like this:

<img width="268" alt="Screenshot 2021-07-18 at 10 49 22" src="https://user-images.githubusercontent.com/6315466/126054078-fc154d0e-191a-4116-af0e-47f1144cc725.png">

If we want to have a different experience like that, I think it is worth a separate issue due to its complexity. 😁
And I think it's better to wait for the final UI/UX

[2021-07-18 03:01] hanihusam commented on #127
Can I get this one, Mas?

[2021-07-18 03:03] resir014 commented on #127
@hanihusam sure!

[2021-07-18 03:08] zainfathoni commented on #126
Closing this issue due to a duplicate of #122

[2021-07-18 03:08] #126 closed

[2021-07-18 03:12] zainfathoni commented on #112
Answered in [the epic comment](https://github.com/kawalcovid19/wargabantuwarga.com/issues/110#issuecomment-881988965).

[2021-07-18 03:20] suliskh commented on #125
Could I work on this, Mas?

[2021-07-18 03:27] zainfathoni commented on #125
Yes, of course. Thanks for the initiative!

Please go ahead. Don't forget to submit a Draft Pull Request soon to signal other contributors that you have started working on it. 😉

[2021-07-18 03:28] resir014 commented on #122
Just saw that @ramaadtym have some design ideas posted [here](https://github.com/kawalcovid19/wargabantuwarga.com/discussions/16#discussioncomment-991862) - thanks!

This means we can go ahead with Approach 1 and take some ideas for the topbar from this Figma file.

[2021-07-18 03:36] zainfathoni opened #129 "Implement a `ReportButton` in each `Contact` field"
## Description

Currently, we're hiding the `ReportButton` component in #128 because it has no functionality yet.

This issue is similar to #83, but it's for the `ContactPage` instead of `FaqPage`.

## Current Tasks

- [x] Research the Google Form URL
- [x] Implement a dynamic URL for the `ReportButton`
- [x] Re-enable the `ReportButton` in the `ContactPage`

[2021-07-18 04:33] kalwabed commented on #129
Mas @zainfathoni, which Google Form I can use? Let me handle this.

[2021-07-18 04:35] zainfathoni commented on #129
Please correspond in Slack with Mas @baraeb92 and Mas Awe (Ardiwilda) for this matter. Thanks! 🙏

[2021-07-18 05:04] zainfathoni opened #131 "Sort the Contact List by prioritizing the verified contacts over unverified ones"

[2021-07-18 05:10] suliskh commented on #125
Hi mas @zainfathoni, I am having a difficulty while trying to make a draft PR (pic attached).
I can successfully pull, but cant push to the origin.
<img width="1014" alt="Screen Shot 2021-07-18 at 12 04 52" src="https://user-images.githubusercontent.com/24476578/126056461-73932856-0f92-41fc-ac69-2ae5218bd7c8.png">

What I have done:
- Trying to use `https` instead of `ssh`
- Reclone the repo
Nothi

[2021-07-18 05:21] zainfathoni commented on #125
Hi Mas @suliskh, you can't push directly to this repository, because you don't have **write** permission to this repository.
What you (and all other contributors) should do is **forking** this repository into your own repository and submit a PR from your repository to this repository.

You can read more [Forking Projects](https://guides.github.com/activities/forking/) here.

@andriawan could you p

[2021-07-18 05:28] andriawan commented on #125
Oke mas @zainfathoni ..

Please mention me if you have any issue with this mas @suliskh

[2021-07-18 05:43] andriawan commented on #125
FYI mas @suliskh

![image](https://user-images.githubusercontent.com/13099373/126057080-4f767b29-166c-47ca-8ac3-43f6abe94af3.png)

[2021-07-18 05:47] andriawan commented on #125
after forking this repo, you will have copy of this repo on your account. you can start push branch on your copy of repo. github will inform you about PR for this original/upstream repo

![image](https://user-images.githubusercontent.com/13099373/126057141-1d57e25a-cf27-4193-9917-9bdf47a94037.png)

[2021-07-18 06:06] zainfathoni opened #133 "Sort the Contact List by `Penyedia` alphabetically ascending"

[2021-07-18 06:24] ekamuktia commented on #111
I'm currently experimenting itemsjs for the search, some things to note:
- The aggregation feature can be used for filter, but it's case sensitive and need exact term. Some of the data contain trailing spaces and same text with different variations (eg. Jakarta Barat, Jakarta barat). Need to decide whether the data will be cleaned on the source or on the application.
![image](https://user-images.g

[2021-07-18 06:42] zainfathoni commented on #111
For the first phase, we can't rely on the cleaning up from the source sheets, because it is done manually. We should try cleaning it up on our side as much as possible.
However, in the future, we can try to implement a proper **Data Validation** mechanism in the Google Sheet. I need to talk to Mas Awe about it.

Yes, please. Btw, based on #131, we shouldn't provide `Terverifikasi` filter and sort

[2021-07-18 06:46] ekamuktia commented on #111
@zainfathoni Okay, sure! I'll work on this part then

[2021-07-18 06:48] zainfathoni commented on #122
This issue was automatically closed due to the automation logic after merging #132 😅

[2021-07-18 07:11] resir014 commented on #44
Now that we have `htmr` installed, we should be able to perform these transform just by detecting any external links from the transform object.

[code]

[2021-07-18 07:24] zainfathoni commented on #44
Wow, great! I didn't know that. 😅

[2021-07-18 07:34] zainfathoni opened #137 "Explore using covid.yapie.me as the backend"
## Description

I think we can explore using covid.yapie.me API instead of fetching and parsing the sheet using NodeJS every time we build the page, which slows down our build time.

If it is proven that using this API speeds up the build time and increase the data accuracy (due to the more frequent data update), we can merge the implementation of this issue to the `main` branch.

## Implementatio

[2021-07-18 12:37] syauqy commented on #96
Hi Mas @zainfathoni, does the dropdown select will replace the search form inside the faq page?

![wbw dropdown 480](https://user-images.githubusercontent.com/3627108/126067315-771daf25-fd05-4e17-ac77-17698ff70cb8.gif)

Any advice on the filter?

[2021-07-18 13:06] zainfathoni commented on #96
No, it shouldn't replace the search functionality.

Btw, there's already a Draft PR submitted for this issue #136.
If you're also working on it, please submit a Draft PR so we can see how much you're progressing with your implementation.

[2021-07-18 14:04] #129 closed

[2021-07-18 15:44] zainfathoni commented on #127
Reopening this issue because the `/pages/_error.tsx` page has not been implemented yet.

[2021-07-18 15:46] zainfathoni commented on #127
Oops, my bad. I just realised that your PR also contains the `/pages/_error.tsx` implementation. 😅

Closing this issue again. 😁

[2021-07-18 15:46] #127 closed

[2021-07-18 17:03] #105 closed

[2021-07-18 23:30] zainfathoni opened #144 "Migrate `/fetchers/*.js` files to TypeScript so we can share codes with the `/lib/*.ts` ones"
Yes, I can't simply export `lib/string-utils.ts` because of the language difference.
Probably work if the configuration is updated or use additional library. But it'll take some time to explore and can affect the other part, so it'll be great if someone can help

__Originally posted by @ekamuktia in https://github.com/kawalcovid19/wargabantuwarga.com/pull/136#discussion_r671910801__

## Tasks

- [

[2021-07-19 02:01] #111 closed

[2021-07-19 02:01] #112 closed

[2021-07-19 02:01] #113 closed

[2021-07-19 02:01] #96 closed

[2021-07-19 02:01] #131 closed

[2021-07-19 02:01] #133 closed

[2021-07-19 03:15] mazipan commented on #115
For sitemap, you can try to use [next-sitemap](https://www.npmjs.com/package/next-sitemap).

I think it will be simpler for us

[2021-07-19 05:56] zainfathoni opened #148 "Contact page enhancements"
## Overview

Since we have finished our basic functionalities for the page, we need to enhance them into our users' best possible experience.

## Current Tasks

### UI/UX

- [x] #153
- [x] #149
- [x] #154
- [x] #155
- [x] #224

### SEO

- [x] #115

[2021-07-19 05:58] zainfathoni opened #149 "Render `Kontak`, `Tautan`, & `Tambahan Informasi` fields as a rich-text, so any links in there will be clickable"

[2021-07-19 06:30] zainfathoni opened #152 "Update the query params according to the the filter changes so the search result is shareable through the URL"

[2021-07-19 06:31] zainfathoni opened #153 "Show `link` field in the Contact page"

[2021-07-19 07:03] zainfathoni opened #154 "Create a `Copy to Clipboard` button for each field"

[2021-07-19 07:03] zainfathoni opened #155 "Unify all `Koreksi` buttons in `ReportButton` component into a single CTA button below the list"

[2021-07-19 07:14] zainfathoni opened #156 "Reduce the clickable area of the contact item so users can select & copy the `Kontak` & `Alamat` from the list view"

[2021-07-19 07:14] zainfathoni opened #157 "Provide a `Copy to Clipboard` button for `Kontak` & `Alamat` fields in the list view"

[2021-07-19 07:15] resir014 opened #158 "Add canonical link to next-seo"
## Description

We tried adding `canonical` URL for SEO improvements with `next-seo` on #150 earlier, however Lighthouse SEO score took a hit during deploy preview so we had to remove it. Find a way to get it back without impacting Lighthouse score,

![image](https://user-images.githubusercontent.com/5663877/126128602-50f40b72-1641-4937-9c06-66141b6008bd.png)

## Implementation Model

This (potent

[2021-07-19 08:38] mazipan commented on #157
The code can be reuse also with

https://github.com/kawalcovid19/wargabantuwarga.com/issues/154

[2021-07-19 08:52] ekafyi commented on #154
Shall I take this?

[2021-07-19 09:38] zainfathoni commented on #154
Sure, please go ahead, thanks!

[2021-07-19 10:27] resir014 commented on #144
Tasks list added.

[2021-07-19 10:40] mazipan commented on #137
I think it's better to maintain our own API (if needed), just make sure we are aware with the API's availability when decide to use 3rd party API.

[2021-07-19 10:46] zainfathoni opened #164 "Change the default sort on the first load of `ProvincePage` from `Nama` into `Terverifikasi`"
Currently, we have two sorting rules (#133 & #131) with #133 as the default.

We need to change the default to be #131 instead, because that was the expected behaviour when I created those tickets. 😅

[2021-07-19 10:51] zainfathoni commented on #164
Mbak @ekamuktia, could you please work on it since you implemented the feature? 😁 🙏

[2021-07-19 10:52] #153 closed

[2021-07-19 10:56] zainfathoni commented on #137
Sounds good. Thanks for the suggestion Mas @mazipan.

I've been in touch with the creator of covid.yapie.me.
@adityapurwa will be consulting with him to improve our architecture and probably implementing our own API if necessary.

[2021-07-19 10:56] #137 closed

[2021-07-19 12:05] #62 closed

[2021-07-19 13:45] Namchee commented on #144
Can I work on this?

[2021-07-19 14:03] #164 closed

[2021-07-19 14:18] #149 closed

[2021-07-19 14:21] #122 closed

[2021-07-19 14:34] #154 closed

[2021-07-19 14:34] #156 closed

[2021-07-19 14:34] #157 closed

[2021-07-19 14:47] zainfathoni commented on #144
Yes, of course.

According to [our contributing guidelines](https://kcov.id/wbw-contributing-guidelines), please create a draft pull request to signal the other contributors that you have started working on this issue, thanks, @Namchee!

[2021-07-19 15:25] zainfathoni opened #174 "Add a WhatsApp icon to navigate to the hotline platform"
## Description

We need the shortcut to our WhatsApp hotline to be more prominent to the users.

## Implementation Model

Please add a WhatsApp button as the right-most item in the footer, linked to https://wa.me/6281257579812.
You can use the SVG version of [this WhatsApp icon](https://icons8.com/icons/set/whatsapp).

## Tasks

- [ ] Add a WhatsApp button on the right-most item in the footer
- [

[2021-07-19 16:09] zainfathoni opened #178 "Unit and Integration Tests Infrastructure"
## Overview

Thanks to our fellow contributors, this project grows fast in the past few days.
It's time to introduce a proper infrastructure for unit and integration tests.

This epic is blocking #294.

## References

You can refer to [this project](https://github.com/kentcdodds/jest-cypress-react-babel-webpack/blob/main/package.json) as an example.

## Current Tasks

- [x] #179
  - [x] [Jest](htt

[2021-07-19 16:10] zainfathoni opened #179 "Install `jest`, `testing-library` family of libraries, and `kcd-scripts`"

[2021-07-19 16:10] zainfathoni opened #180 "Start writing tests for `ReportButton` component as an example"

[2021-07-19 16:10] zainfathoni opened #181 "Use the test script in the `lint-staged` script to ensure all tests related to the changed files are successful prior to the `git commit` operation"

[2021-07-19 16:11] zainfathoni opened #182 "Use the test script in the `.github/workflows/test.yml` file to run the tests for every Pull Request made"

[2021-07-19 16:27] zainfathoni opened #183 "End-to-end Tests Infrastructure"
## Overview

Thanks to our fellow contributors, this project grows fast in the past few days.
It's time to introduce a proper infrastructure for end-to-end tests so we can guarantee that our changes don't introduce regressions in the future.

## References

You can refer to [this project](https://github.com/kentcdodds/jest-cypress-react-babel-webpack/blob/main/package.json) as an example.

## Curr

[2021-07-19 16:28] zainfathoni opened #184 "Install Cypress and setup the end-to-end test configurations"

[2021-07-19 16:28] zainfathoni opened #185 "Write an end-to-end test for the `Provinces` page search functionality"

[2021-07-19 16:49] resir014 commented on #178
@zainfathoni We should potentially also include Typescript + ESLint in the CI to catch any type/lint errors as well alongside unit tests.

[2021-07-19 16:52] zainfathoni commented on #178
Shall we create another epic for the `.github/workflows/test.yml` file to contain everything needs to be done on the CI validation step @resir014? We can track some of these issues in that epic as well.

[2021-07-19 17:12] zainfathoni opened #186 "Setup GitHub Actions for Tests"
## Overview

To incorporate #178 & #185 in our Pull Request checks, we need a new `.github/workflows/test.yml` file to configure GitHub Actions on each branch push.

## Current Tasks

Run all these tasks in parallel, since they're not dependent each other.

- [ ] #182
- [ ] Run TypeScript and ESLint checking in the `test.yml` workflow
- [ ] Run end-to-end tests in the `test.yml` workflow

[2021-07-19 23:22] andriawan commented on #108
i'm not quite understand the reason behind this mas @zainfathoni. Could you enlighten me mas @zainfathoni ?

[2021-07-19 23:53] zainfathoni commented on #108
I have updated the description with my explanation, @andriawan. 😁

[2021-07-20 00:22] zainfathoni opened #190 "Customize the `/home-page` styling to make it looks better"

[2021-07-20 01:34] resir014 opened #192 "Run TypeScript and ESLint checking in the `test.yml` workflow"
## Description

Create a GitHub Actions workflow for testing and run type-check + linting scripts along with it.

## Implementation Model

We use GitHub actions to run type-check and ESLint as a CI process. This should make the CI fail if any type errors and linting issues arise. We run this on both the main branch and any open pull requests.

## Tasks

- [ ] Add `type-check` script which runs `ts

[2021-07-20 02:37] zainfathoni opened #195 "Run end-to-end tests in the `test.yml` workflow"

[2021-07-20 02:55] #192 closed

[2021-07-20 02:58] zainfathoni commented on #182
Reopening this issue because this issue was meant for `Jest` running our unit & integration tests.

[2021-07-20 03:56] #190 closed

[2021-07-20 04:00] mazipan opened #197 "Refactor use-search to use a properly-typed fuzzy-search library"
## Brief

The current `useSearch()` implementation uses the `itemsjs` library, which has no proper typings. This leads to `useSearch()` being littered with `any` type annotations.

We want to avoid using `any` if possible. Therefore, we should migrate to a search library with proper typings (e.g. [fusejs](https://fusejs.io/)).

## Definition of done

- `use-search` properly migrated to a library w

[2021-07-20 04:03] resir014 commented on #197
`useSearch()` also uses the `itemsjs` library, which has no proper typings.

Highly recommend switching to a properly typed library, e.g. [fusejs](https://fusejs.io/)

[2021-07-20 04:04] mazipan commented on #186
Add codecov also dong @zainfathoni to monitor the coverage

[2021-07-20 04:09] mazipan opened #198 "Replace Netlify Lighthouse"
## Description

The main problem when we put the performance test on the build process is that it will slow down our build time. So the idea is to differentiate the process.

Move the performance check from build time to the PR creation without blocking the build process. It block the PR, not the build process.

## Proposal

Try to check Lighthouse-CI on GitHub Action: https://github.com/GoogleChr

[2021-07-20 04:11] resir014 commented on #197
Issue + tasks list updated.

[2021-07-20 04:18] zainfathoni opened #200 "Code Hygiene & Developer Experience"
## Overview

To make our code more maintainable as it grows, we need to employ a proper hygiene to our coding practices and improve the developer experience.

## Current Tasks

### Improve Typing System

- [ ] (task 1)
- [ ] (task 2)

### Improve CI/CD Processes

- [ ] .
- [ ] .

[2021-07-20 04:22] #38 closed

[2021-07-20 05:01] zainfathoni opened #202 "Fix breaking styling in`ContactDetails` component"
If we remove this, the style will break. Mas @zainfathoni, maybe this is an issue from the JIT Engine? I don't know. 😅

__Originally posted by @kalwabed in https://github.com/kawalcovid19/wargabantuwarga.com/pull/171#discussion_r672797775__

[2021-07-20 05:14] #174 closed

[2021-07-20 06:31] #144 closed

[2021-07-20 06:54] hendrasan opened #203 "Search Issue in FAQ page"
## Description

There's a minor bug in search in FAQ page.

1. Type "isoman" then Search
2. Choose filter "PCR"
3. Change the keyword to "vaksin" then Search
4. No results found, the filter lists change to "Semua" and "Vaksinasi" and the active filter changes to "Vaksinasi"

## Expected Behaviour

In step 4, there should be results displayed

## Additional Information

I think in step 3, the filte

[2021-07-20 07:16] #155 closed

[2021-07-20 07:28] #152 closed

[2021-07-20 07:58] ekamuktia commented on #203
Seems like I got confused when deciding the rule and interaction.
Especially because the filter is applied right away after selected and keyword is applied when the button is clicked for `FAQ` and `Province` page

Also for the `reset` button, current rule is to reset all values (`keyword`, `filter` and `sort`) but the  reset button position is next to keyword input so user may think it will only r

[2021-07-20 08:03] zainfathoni opened #204 "Add more principles related to iterative and incremental changes"

[2021-07-20 08:08] #108 closed

[2021-07-20 08:42] mazipan opened #208 "Data - Double DKI Jakarta"
## Description

The data seems need to be clean up, so we can grouping it better

## Step to reproduce

- Visit: https://www.wargabantuwarga.com/provinces/dkijakarta-1
- Click the combobox/select box "Lokasi"
- There are two "DKI Jakarta" data

## Expected

Only one data "DKI Jakarta" or even it should be detailed as Jakarta Pusat/Barat/Selatan/Utara or Kepulauan Seribu.

## Preview

![Screenshot_

[2021-07-20 08:54] mazipan commented on #203
I don't think we need to reset the `filter` and `sort`.

If they want to reset the filter, just change to "semua".
Sort can be "reset", they should pick one of them.

So the reset should be applied for the keyword only.

Even in my opinion, we don't need this reset button since the search will auto applied when user type any character.
If they want to reset, just clear the input.

[2021-07-20 08:59] mazipan commented on #203
Also I don't think the sort is necessary here.

We should split the list based on two type:
- Verified
- Non-Verified

These two type of list should (by default) sorted alphabetically.

Except we have other factors, like sort by "Terdekat"

[2021-07-20 09:05] suliskh commented on #125
Halo mas @zainfathoni and mas @andriawan, thank you for guiding me and I've managed to make a PR with some caveat that I can't fix. Would you mind looking into that? Please see the "Caveat" section. Thank you :sungkem:

[2021-07-20 09:29] resir014 opened #209 "Create a design system / reusable component library for WBW"
## Overview

~~Because it's not a project with me in it without some work relating to design system.~~

Recently, I've started putting some reusable components inside the `components/ui` folder. We should expand these into more atomic components that we currently use throughout the app.

Yes, I know we use [Tailwind CSS](https://tailwindcss.com/) and [Tailwind UI](https://tailwindui.com/), but ove

[2021-07-20 09:29] andriawan opened #210 "Add additional information when searching data result is none"
## Description

Some users might be confused when they don't get information (because of no information could be served) or because no data related to the input.

## Implementation Model

![image](https://user-images.githubusercontent.com/13099373/126297563-496c90cc-e777-4e27-b3b0-81ededd78f01.png)

## Tasks

- [ ]  Provide default UI component for no data

[2021-07-20 09:49] ekamuktia commented on #210
For `Province` page maybe we can also show button linked to google form to submit new contact information.
So it will be something like "Tidak ada data untuk keyword yang anda cari. Tambahkan info disini"

"Tambahkan info" button can be added on the default view as well.

[2021-07-20 09:51] resir014 commented on #210
Fortunately, Tailwind UI [has a component for that](https://tailwindui.com/components/application-ui/feedback/empty-states#component-42930c785190e14c24b53ba822f4a92c).

![image](https://user-images.githubusercontent.com/5663877/126302786-794f09c2-a5d5-4ce1-9bdc-f414aaaf79fc.png)

I can start working on this in a moment.

[2021-07-20 10:17] mazipan commented on #203
This is become harder, since we are reuse the logic for FAQ and Province page.

[2021-07-20 10:20] resir014 opened #212 "Design system - Buttons"
## Description

Expand our current button components for more customisability.

## Implementation Model

Buttons are currently taken from [Tailwind UI](https://tailwindui.com/components/application-ui/elements/buttons).

## Tasks

- [ ] Add White Button variant
- [ ] Expand each button's size options (xs, sm, md, lg, xl)
- [ ] Allow for rounded buttons
- [ ] Allow option to add icons in buttons (f

[2021-07-20 10:20] resir014 opened #213 "Design system - Forms & inputs"
## Description

Clean up our form styles.

## Implementation Model

We redo our forms using [Tailwind's Forms plugin](https://github.com/tailwindlabs/tailwindcss-forms), and follow the base form designs [here](https://tailwindui.com/components/application-ui/forms/input-groups).

## Tasks

- [x] Install `@tailwindcss/forms` plugin
- [x] Input text element
- [x] Select element
- [x] Textarea elemen

[2021-07-20 10:20] resir014 opened #214 "Design system - Alerts"

[2021-07-20 10:20] resir014 opened #215 "Design system - Badges"

[2021-07-20 10:20] resir014 opened #216 "Design system - Empty states"
## Description

An empty state represents a container with no data in it.

## Implementation Model

[Tailwind UI](https://tailwindui.com/components/application-ui/feedback/empty-states#component-42930c785190e14c24b53ba822f4a92c) has an empty state component.

[2021-07-20 10:58] zainfathoni commented on #209
Nice motivation 🤣

[2021-07-20 11:20] #210 closed

[2021-07-20 11:20] #216 closed

[2021-07-20 11:28] zainfathoni commented on #203
Nice catch Mas @hendrasan, thank you for reporting this! 🙏

[2021-07-20 11:35] zainfathoni commented on #208
Sure, I'll be working on it once I'm granted edit access to the sheets.

[2021-07-20 11:48] mazipan commented on #203
Preview for the fix:

https://deploy-preview-218--wargabantuwarga.netlify.app/faq?q=Vaksin&kategori_pertanyaan=Vaksinasi

[2021-07-20 12:08] #100 closed

[2021-07-20 12:25] #203 closed

[2021-07-20 12:31] mazipan commented on #197
## Itemsjs

https://bundlephobia.com/package/itemsjs@2.1.10

Size: 64kB
Minified: 20kB

## Fuse.js

https://bundlephobia.com/package/fuse.js@6.4.6

Size: 15kB
Minified: 5kB

But yes, this is a big refactor.
Since you will face many differences between this two libraries.

[2021-07-20 12:41] famasya opened #222 "Fix UX writing for loading state"
## Description
Currently, _loading state_ while data load is ambiguous (attached below). For accessibility, it's better to rephrase the UX writing to represent what's happening.

![Screen Shot 2021-07-20 at 19 27 14](https://user-images.githubusercontent.com/12300316/126324385-49a774c2-2f53-4698-8feb-a293463c260c.jpg)

## Implementation Model
- Differentiate between "not found" state and "loading"

[2021-07-20 12:48] famasya opened #223 "Add verification button for unverified resource"
## Description

Add link above/aside resource item a "Verifikasi item ini" button. Right now, it is unclear to the user on how to help verify particular resource.

![image](https://user-images.githubusercontent.com/12300316/126326057-a65a0701-c02a-453f-aef4-ce51cff13905.png)

[2021-07-20 12:57] zainfathoni commented on #223
We need Mas Awe's help to prepare the flow from their side. Let me talk to him separately.

[2021-07-20 13:05] mazipan commented on #223
From our side, maybe adding some tooltip to indicate that we still use a manual verification and it will need a time due to a limited resources.

[2021-07-20 13:06] mazipan commented on #222
Also happens on other page such as FAQ

[2021-07-20 13:08] mazipan commented on #83
Is this still relevant, or do we need to close this issue?

[2021-07-20 13:16] famasya commented on #223
I propose a simple verification flow:
1. Click "Verify this item"
2. Open google form, provide item link and verification proof (as simple as chat / google maps screenshot, etc)

Or:
1. Just chat to the hotline.

I don't know which is more feasible right now.

[2021-07-20 14:00] zainfathoni commented on #83
Yes, this issue is still relevant, because it is for the FAQ page. Our implementation on #138 was only for the Contact page.

[2021-07-20 14:09] andriawan opened #224 "Text Overflow in Link"
## Description

![image](https://user-images.githubusercontent.com/13099373/126338127-2c96b7c1-e3a4-4eae-a981-e1462fbc86bd.png)

## Expected Behaviour

the link should not be overflowing the container

## Additional Information

it might be better to use another approach like implementing layout as column rather than row to accomodate long text

[2021-07-20 14:15] faizrktm opened #225 "Dev Experience: Absolute imports and module path alias"
## Description

Adding/configure absolute imports and module path alias for readability and easier to write for deep and scattered reference.

## Implementation Model

Using `~/` as a leading character for the local module as a distinguishment between the 3rd party lib.

example:

from
import { LayoutRoot } from "../../../components/layout/layout-root";

to
import { LayoutRoot } from "~/components

[2021-07-20 14:59] ihsanrabb commented on #222
Could I work on this, mas @zainfathoni ?

[2021-07-20 15:00] zainfathoni commented on #222
Yes, of course.

Just create a Draft Pull Request as mentioned in our [contributing guidelines](https://kcov.id/wbw-contributing).
Thanks!

[2021-07-20 15:25] maziyank opened #230 "Scroll Restoration"
## Description

![wargabantuwarga](https://user-images.githubusercontent.com/3317904/126351074-769f0a76-0ad5-4c60-a374-767c778861b5.gif)

## Expected Behaviour

It will be better if this app able to restore scroll position to the last position after click back.

[2021-07-20 15:44] hanihusam commented on #212
Can I help you with this one, Mas? @resir014

[2021-07-20 15:50] mazipan commented on #224
Also ideally the link should be shortened by the content writer 😂

[2021-07-20 16:09] ekamuktia opened #231 "Search issue in Province Page"
## Description

Just like previous bug in FAQ page #203, the same bug still exists on `Province` page.
For example:
1. Search "medika" in https://www.wargabantuwarga.com/provinces/dkijakarta-1
2. Select "Rumah Sakit" for Kategori filter
3. Type "Cahaya Gas" in keyword input
4. Click "cari" button
![image](https://user-images.githubusercontent.com/9606523/126355731-32f1ab3c-4dda-49e5-9262-639cc9aaa

[2021-07-20 16:20] ekamuktia opened #232 "Filter order in FAQ Page"
## Description

For FAQ page, it's probably more natural to show `Kategori Pertanyaan` filter ordered based on how the FAQ items are shown rather than alphabetical order.
![image](https://user-images.githubusercontent.com/9606523/126358794-0cb6660c-08f1-41e0-be9f-95f37b18f7cb.png)

## Implementation Model

Since all category filters are always shown for FAQ page, rather then setting the `filterIte

[2021-07-20 16:20] ekamuktia commented on #232
@zainfathoni Please check if this is needed or alphabetical order just like now is okay

[2021-07-20 22:59] zainfathoni commented on #208
Issue resolved.

<img width="599" alt="Screenshot 2021-07-21 at 06 58 55" src="https://user-images.githubusercontent.com/6315466/126405791-b364133b-c2e9-4fe2-9ba3-a6559476cf7a.png">

[2021-07-20 22:59] #208 closed

[2021-07-20 23:09] zainfathoni opened #233 "Move "Warga Bantu Warga" to the back"
It's on the default SEO set by @resir014 & @zainfathoni before.
On the common usecase, the identity sitename is usually on the right side.
After the main title.

So ya, I agree to move it out to the back.

I think it's better to work on another PR ya for fixing the composition of title

_Originally posted by @mazipan in https://github.com/kawalcovid19/wargabantuwarga.com/issues/227#issuecomment-88

[2021-07-20 23:11] zainfathoni commented on #230
I'm curious, what's the behaviour after the virtualization implementation on #125?

[2021-07-20 23:12] zainfathoni commented on #224
Okay, another point for me to talk about with Mas Awe. 😅

[2021-07-20 23:14] #184 closed

[2021-07-20 23:20] zainfathoni commented on #232
I think the current one, the alphabetical order, is better because even if we make it ordered based on the actual order in the result section, there's no clear visual cue that they have some correlations.

Moreover, alphabetical order is usually easier to scan anyway.

Thanks for proposing this enhancement, Mbak @ekamuktia, but I'm closing this issue for now.
If it turns out that we need it this w

[2021-07-20 23:20] #232 closed

[2021-07-20 23:23] zainfathoni commented on #212
Yes, as always Mas @hanihusam. There's no need to confirm.
As long as there's no existing Draft Pull Request, you can just create a Draft Pull Request and it will be yours to implement. 😉

[2021-07-20 23:35] #185 closed

[2021-07-20 23:52] mazipan commented on #158
![Screenshot_20210721-064951_Chrome](https://user-images.githubusercontent.com/7221389/126409132-f608e299-469f-415b-b5d1-890de3e1f966.jpg)

Why is the Canonical Link matter?
Look on the screenshot, the URL with an additional parameter can be determined as a different URL by a Google Bot.
When we set a canonical link, Google will know that this kind of URL is a same type.

[2021-07-20 23:53] mazipan commented on #158
Is there any way to reproduce this message on the local machine without need to run the Deploy on the Netlify @resir014?

[2021-07-21 00:05] mazipan opened #234 "SEO - Generate a dynamic sitemap index"
## Description

We have multiple Sitemap generated by `next-sitemap`, it's better if we have the Sitemap index that list all available Sitemap on one Sitemap called a sitemap index.

The current workaround is we increase the Sitemap size to reduce the number of Sitemap, and we submit it manually through the Google Search Console. This is not ideal, if the number of Sitemap is increasing.

Sadly, i

[2021-07-21 00:18] mazipan commented on #233
You can update `_app.tsx` on the `DefaultSeo` tag and `titleTemplate` attribute.

https://github.com/kawalcovid19/wargabantuwarga.com/blob/main/pages/_app.tsx#L39

[2021-07-21 00:21] zainfathoni opened #235 "Add a guide for beginners to look for `good first issue` label"

[2021-07-21 00:29] zainfathoni opened #236 "Improve SEO"
## Overview

## Current Tasks

- [ ] 24
- [ ] 44
- [ ] 115
- [ ] 158
- [ ] 233
- [ ] 234

### Discussed in https://github.com/kawalcovid19/wargabantuwarga.com/discussions/147

<div type='discussions-op-text'>

<sup>Originally posted by **mazipan** July 19, 2021</sup>
This discussion is to grouping all about SEO ideas and suggestions.

Some of pending issues:

- [ ] https://github.com/kawalcovid19/

[2021-07-21 00:31] mazipan commented on #197
Since this issue is classified as a hard. I think it's better if we introduce an automated testing first for this component before go on the refactoring part.

The hard part is you need to tackle all cases, testing it, make sure it's not breaking.

@resir014 @zainfathoni

[2021-07-21 00:41] mazipan commented on #21
Someone should take a look on this seriously.

Maybe can be start with provide a video, or any errors you can catch, the service worker conditions, the network call on DevTools or any other informations.

I just don't think we can ignore this kind of bug.

[2021-07-21 00:49] suliskh commented on #230
The virtualization doesn't keep the scroll position out of the box, Mas. It will scroll to the top/first item when bouncing back to that route.

https://user-images.githubusercontent.com/24476578/126413130-11fe213c-1350-431d-a1de-9f9626b149ae.mp4

Meanwhile, from the `react-virtual` doc, there is `scrollToOffset` and `scrollToIndex` method that has something to do with the scroll position. But, I

[2021-07-21 00:58] #115 closed

[2021-07-21 00:59] suliskh commented on #233
So it is supposed to be `"Informasi Faskes & Alkes ... | Warga Bantu Warga"`, isn't it, Mas @zainfathoni @mazipan?

[2021-07-21 01:51] mazipan commented on #31
So the page under Netlify CMS is on:

- https://www.wargabantuwarga.com/home-page

And the current version is on:

- https://www.wargabantuwarga.com/

[2021-07-21 02:50] resir014 commented on #225
I think let's use `~/` instead (e.g. `~/components`) - or have the option to choose between the two.

[2021-07-21 02:53] faizrktm commented on #225
sure, let's use that format, I think its more clear to distinguish and still got the benefit from the absolute import. Thanks @resir014

[2021-07-21 04:29] mazipan commented on #224
![Screen Shot 2021-07-21 at 11 28 44](https://user-images.githubusercontent.com/7221389/126431012-c37d5a7c-a921-4292-9f3a-77753c2e8626.png)

Happened on other data

[2021-07-21 04:41] mazipan commented on #224
This can be done if we revamp the UI also, not showing it as a grid like this :-D
I think we will wait for #31 first to do a fully revamp, isn't it @zainfathoni? Or can we ask for some UX folks to check this page? Since this page is not related with CMS

[2021-07-21 05:30] #233 closed

[2021-07-21 05:55] mazipan opened #240 "Update Open Graph Image using Hero Image"
## Description

Currently we use `https://wargabantuwarga.com/wbw.png` as our meta image in openGraph.

You can check the code in [pages/_app.tsx#L31](https://github.com/kawalcovid19/wargabantuwarga.com/blob/main/pages/_app.tsx#L31)

But in my opinion, the open graph image should be an image with a better info in it. I can see our hero image have a better information to be shared as our og:image.

[2021-07-21 05:59] mazipan commented on #236
Top priority for now is #158

[2021-07-21 07:08] resir014 commented on #224
@zainfathoni @mazipan I think we should remind the content writers to use shortened links for places, etc. where it feels like the original link would overflow.

Some apps provide a shortened link when you use their built-in Share functionality, e.g. Google Maps:

![image](https://user-images.githubusercontent.com/5663877/126446399-86ef1411-a5b1-42ef-99e3-4f4893c19016.png)

[2021-07-21 07:34] resir014 opened #241 "Add progress bar when transitioning between pages"
## Description

Add a loading progress bar to the top of the page to communicate to the user that the next page is loading, improving the UX significantly.

## Implementation Model

We can use [nprogress](https://ricostacruz.com/nprogress/) and use Next.js' [Router Events](https://nextjs.org/docs/api-reference/next/router#routerevents). Official example from Next.js is available [here](https://git

[2021-07-21 07:52] mazipan commented on #241
Add additional info:

https://bundlephobia.com/package/nprogress@0.2.0

**4kB** Minified
**1.7kB** Minified + Gzipped

[2021-07-21 07:59] resir014 commented on #158
@mazipan Yes, that's my initial suspicion. Netlify Lighthouse doesn't seem to like it when we hardcode the `www.wargabantuwarga.com` URL in the canonical link element, causing it to drop our score.

I guess when we finally split Lighthouse from the Netlify build step (#198), we should have no problem re-adding the canonical link without Lighthouse screaming at our ears about invalid canonical link

[2021-07-21 08:07] resir014 commented on #158
Issue + tasks list updated.

[2021-07-21 08:12] ekamuktia opened #242 "Remove /provinces/tentang-database-0 from sitemap"
## Description
https://www.wargabantuwarga.com/provinces/tentang-database-0 is included in [sitemap](https://www.wargabantuwarga.com/sitemap-3.xml)

![image](https://user-images.githubusercontent.com/9606523/126454002-6485c4b9-3bc2-40b8-8f11-7c11edb6d26b.png)

![image](https://user-images.githubusercontent.com/9606523/126454064-7fa8946e-d04f-4752-9f97-0bd6c0a7f479.png)

## Expected Behaviour

The

[2021-07-21 08:20] mazipan commented on #242
I think it's better to exclude from the fetcher.
The data should not empty.

[2021-07-21 08:34] mazipan opened #243 "fetcher sheets have an empty data on index 0"
## Description

Based on #242, you will know that we have an empty data on `/data/wbw-sheets.json` produced by script on `/etc/fetchers/fetch-sheets.ts`.

Sample empty data:

[code]

## Expected Behaviour

Remove "Tentang Database" from the result.

## Additional Information

Need to check, is our App already expect this condition, if yes, you need to change it also

[2021-07-21 08:49] ekamuktia commented on #243
one of the part that will be affected by the change
https://github.com/kawalcovid19/wargabantuwarga.com/blob/4851da40bce0b5b28acdc77fc4e1209ffdddba00/pages/provinces/index.tsx#L63

[2021-07-21 09:42] resir014 opened #244 "Simplify search + filter UI"
Blocks #134

## Description

Currently our search + filter UI is a bit messy, and takes up a huge part of the screen. Rework our search UI so that it takes up less space at the top, and allow us to implement something like #134 with a better UX.

## Implementation Model

We can use an approach made by GitHub's mobile web on how they arrange their search + filter UI for issues. We can hide all the

[2021-07-21 10:24] #212 closed

[2021-07-21 11:10] #158 closed

[2021-07-21 11:18] mazipan opened #246 "Revisit the cronjob frequency"
## Description

We have a cronjob to deploy the UI for every 15 minutes.

And since our static page is quite huge (3.1K+ 💪), the build process on GitHub Action takes 12-13 minutes to be done. See the screenshot.

I think we need to reduce the frequency.

![Screenshot_20210721-181346_Chrome](https://user-images.githubusercontent.com/7221389/126480076-3f297af4-8d9f-4a7b-b74f-3e911832a7f5.jpg)

## Im

[2021-07-21 13:17] #242 closed

[2021-07-21 13:28] #241 closed

[2021-07-21 13:43] #225 closed

[2021-07-21 14:02] #213 closed

[2021-07-21 14:27] andriawan opened #254 "Scroll to top action for long enough scroll content"
## Description

![image](https://user-images.githubusercontent.com/13099373/126505299-4fbb458f-476e-45ef-96ac-3828361f76e1.png)

## Implementation Model

For better UX, it might be better to help user back to the top when he far away scrolling down

## Tasks
- [ ] add button component to bring user to the top of page

[2021-07-21 14:30] mazipan opened #256 "Install BundleAnalyzer"
## Description

BundleAnalyzer can help us to know the composition of the JS chunk we have.

With it, we will know if have a heavy 3rd parties, wrong importing strategy, etc

## Tasks

- [ ] Install BundleAnalyzer
- [ ] Add a new script on `package.json` to run this analyzer

[2021-07-21 14:47] zainfathoni commented on #246
Do you think [every 30 minutes](https://github.com/kawalcovid19/wargabantuwarga.com/commit/2dbb1d0f3a526e5b595503d047ba60eade23ddf7) is enough, Mas @mazipan ?

[2021-07-21 14:49] mazipan commented on #246
For now yes, just increase incrementally.

But maybe for some time range, like in the midnight, we can decrease the frequency (idk it's possible or not 😂)

[2021-07-21 15:06] mazipan commented on #246
We can set multiple cronjob, e.g:

[code]

Read on: https://github.community/t/multiple-schedules-for-workflow/154811

I think we can set some hour, like: https://crontab.guru/#*/15_8,9,10,11,12,13,14_*_*_*

[2021-07-21 15:31] zainfathoni commented on #224
Okay, I'll take a note of it and discuss it with Mas @ardiwilda later. Thanks for the suggestions @resir014 & Mas @mazipan. 🙏

[2021-07-21 15:35] ekamuktia opened #277 "Hide progress bar on shallow routing"
## Description

On pages with search feature, the url is updated after keyword/filter/sort is changed using shallow routing.
The progress bar is quite distracting in these pages.

## Expected Behaviour

Progress bar should not show on shallow routing event, especially because loading state for search will be managed separately.

## Additional Information

![201659](https://user-images.githubuserco

[2021-07-21 15:41] andriawan opened #279 "Redirect user to open map provider based on address"
## Description

![image](https://user-images.githubusercontent.com/13099373/126516750-3ef6d70e-b6ac-47ec-b272-db4e4d5f70dc.png)

## Implementation Model

User might want to know address location from map provider such google maps.

## Tasks

- [ ] redirect user to map provider with text address as param like `https://www.google.com/maps/place/${address}`

[2021-07-21 15:56] #222 closed

[2021-07-21 16:03] ekafyi commented on #224
We can do a quick fix—before any major UI revamp/chance—by adding `.w-full` (`width: 100%`) to the parent element and overriding the `.softmerge-inner` width to `auto` via external CSS.

![Sunan_Jaya_Gas_-_Kontak_dan_Tempat_Oksigen_Tabung_di_Banten___Warga_Bantu_Warga](https://user-images.githubusercontent.com/6597211/126521429-8ca5d6e8-30b7-4ef5-90fa-6fb188cee1bf.png)

(Also a good opportunity fo

[2021-07-21 16:48] mazipan commented on #277
How do you think if we update the URL only `onBlur` the input element?

[2021-07-21 16:58] #277 closed

[2021-07-21 23:19] #240 closed

[2021-07-21 23:49] zainfathoni opened #285 "Provide an `id` attribute to each heading section to be anchored from another section of the home page"

[2021-07-22 00:15] mazipan commented on #236
Insights from @ekiriandra-seo

https://docs.google.com/document/d/1im7CF8XaF4yYQ_jJjjW7dOKZz8tJFvidtW7bOlqt1Y8/edit?usp=sharing

[2021-07-22 00:24] mazipan opened #288 "Static slug for province detail page"
## Description

Currently, we generate a slug based on the index and this can be changed everytime.

We need to set a static slug for this.

See the detail on the Doc on section 1.2.3:

https://docs.google.com/document/d/1im7CF8XaF4yYQ_jJjjW7dOKZz8tJFvidtW7bOlqt1Y8/edit?usp=sharing

## Tasks

- [ ] Generate slug from the `etc/fetcher`, slugify the title, e.g: `DKI Jakarta` will be `dki-jakarta`
-

[2021-07-22 00:30] mazipan opened #289 "Static slug for contact detail page"
## Description

Related with #288 but for Contact Detail Page.

Currently, we generate a slug based on the index and this can be changed everytime.

We need to set a static slug for this.

See the detail on the Doc on section 1.2.3:

https://docs.google.com/document/d/1im7CF8XaF4yYQ_jJjjW7dOKZz8tJFvidtW7bOlqt1Y8/edit?usp=sharing

## Tasks

- [ ] Generate slug from the `etc/fetcher`, slugify the ti

[2021-07-22 00:38] mazipan opened #290 "Revisit the search, to be served from the server"
## Description

See the detail on the Doc on section 1.2.1:

https://docs.google.com/document/d/1im7CF8XaF4yYQ_jJjjW7dOKZz8tJFvidtW7bOlqt1Y8/edit?usp=sharing

Currently our search feature are executed on the client side, the data is re-aggregated on the client.

Looking to our architecture that serve a static HTML, this should not happen, we have all the data. No need to re-calculate the data on t

[2021-07-22 00:49] ekamuktia commented on #288
Please consider this when setting the slug:
- Some contacts have empty `penyedia` name like this one https://www.wargabantuwarga.com/provinces/dkijakarta-1/telemedicine-obat-gratis-80
- `penyedia` name may get updated

[2021-07-22 00:50] ekamuktia commented on #289
Please consider this when setting the slug:
- Some contacts have empty `penyedia` name like this one https://www.wargabantuwarga.com/provinces/dkijakarta-1/telemedicine-obat-gratis-80
- `penyedia` name may get updated

[2021-07-22 00:53] mazipan opened #291 "Unique meta description for Province Detail Page"
## Description

Current Condition: (still using the default one)

Inisiatif warga untuk berbagi informasi seputar fasilitas kesehatan &amp; alat kesehatan untuk COVID-19. WargaBantuWarga memudahkan publik mencari &amp; mengakses informasi.

Suggestion:

Inisiatif warga untuk berbagi informasi seputar fasilitas kesehatan &amp; alat kesehatan untuk COVID-19 **di Provinsi Lampung**. WargaBantuWarga m

[2021-07-22 01:03] #285 closed

[2021-07-22 01:04] mazipan opened #292 "Add SEO Text in the Footer"
## Description

Refer to [Docs](https://docs.google.com/document/d/1im7CF8XaF4yYQ_jJjjW7dOKZz8tJFvidtW7bOlqt1Y8/edit?usp=sharing), section 1.2.2

To support the content for City Pages. We suggest adding more short text inside the page (can be put in bottom) to make the page more relevant & more prefer to be indexed.

- Provinces Homepage: https://www.wargabantuwarga.com/provinces

[code]

- City D

[2021-07-22 01:06] mazipan commented on #44
Also on the current homepage, the link contain:

[code]

[2021-07-22 01:12] mazipan opened #293 "Title improvement on Contact Detail Page"
## Description

We see some of pages can be targeted with long tail keywords, **if the data is available**.

For example: https://www.wargabantuwarga.com/provinces/dkijakarta-1/3rmedika-gas-128

Current Title: `<title>3R Medika Gas - Isi ulang tabung oksigen di DKI Jakarta | Warga Bantu Warga</title>`

New Improvement: `<title>3R Medika Gas - Isi ulang tabung oksigen di DKI Jakarta, Jakarta Barat

[2021-07-22 01:20] zainfathoni opened #294 "Fix `getKebabCase()` implementation"
## Description

Our current `getKebabCase()` implementation is not perfect, there are some edge cases that we have not covered properly.

## Expected Behaviour

| String | Actual | Expected |
|-------|------- |----------|
| DKI Jakarta | dkijakarta | dki-jakarta |
| Daftar Kontak Fasilitas & Alat Kesehatan per Provinsi | daftar-kontak-fasilitas-alat-kesehatanper-provinsi | daftar-kontak-fasilitas-

[2021-07-22 01:31] mazipan commented on #289
Then we need to fallback to `keterangan`

[2021-07-22 01:34] zainfathoni commented on #289
@all-contributors please add @ekiriandra-seo for ideas.

[2021-07-22 01:46] zainfathoni opened #298 "Same-page anchor reference is hidden behind the header"
## Description

Our current implementation for #285 is not perfect, because when the user clicks the anchor link, the page scrolls to the element with the `id` and putting it at the very top of the page. It makes the title is hidden beneath the header.

As illustrated in this video:

https://user-images.githubusercontent.com/6315466/126579891-e32f2376-55ee-4b4a-b9a0-a35ac4f12a04.mov

## Expected B

[2021-07-22 01:49] zainfathoni commented on #298
@kawalcovid19/wbw do you have any better idea than mine to solve this problem? 😅

[2021-07-22 01:50] #234 closed

[2021-07-22 02:05] #293 closed

[2021-07-22 02:51] resir014 commented on #31
@mazipan Yes, agree. I think before we fully swap the home page to the Netlify CMS version, we should split the homepage contents first, so we could easily break up each section of the homepage like the planned design on the Figma.

cc: @zainfathoni

[2021-07-22 04:50] mazipan commented on #198
@zainfathoni Request to add SECRET on the Github Action

ref: https://github.com/GoogleChrome/lighthouse-ci/blob/main/docs/getting-started.md#overview

[2021-07-22 04:54] mazipan commented on #198
Request install App ini ya:

https://github.com/GoogleChrome/lighthouse-ci/blob/main/docs/getting-started.md#github-app-method-recommended

[2021-07-22 05:10] zainfathoni commented on #198
App installed and `secrets.LHCI_GITHUB_APP_TOKEN` set Mas @mazipan. Thanks for working on it!

[2021-07-22 05:20] zainfathoni commented on #31
From the potential changes based on Figma design, do you have any suggestions on how we should split the sections into @resir014?

[2021-07-22 05:21] ekamuktia commented on #298
based on [this](https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header), css only solution:

`.home-page-content [id]:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 6rem;
  margin-top: -6rem
}`

https://user-images.githubusercontent.com/9606523/126593153-fb1ded13-ef16-448d-a264-de5d31a35b3e.mp4
haven't checked with d

[2021-07-22 05:23] mazipan opened #308 "Explore to utilize actions/cache for CI"
## Description

One of the long process in the CI is the installation process. From my observation, we have fetching Google sheet in it.

I just think, can we just cache this `data` dir for the CI.

Since for the `type-check`, `lint`, etc usually doesn't need a real and updated data.

## Implementation Model

Maybe we can utilize `actions/cache@v1`

But this is an exploration ticket, we might can

[2021-07-22 06:00] #231 closed

[2021-07-22 06:36] resir014 commented on #31
@zainfathoni I already have some mapping in my head right now:

- Welcome Message (single page, rendered on dialog)
- Cara Berkontribusi (single page)
- Informasi Terbaru (multiple posts)

Stuff that's on a separate page

- Kontak darurat (multiple items)
- Tentang Kami (single page? multiple items?)
- Edukasi (multiple items + sub-items)
- Telemedicine (single page w/ metadata)

Stuff that I'm no

[2021-07-22 06:55] zainfathoni commented on #31
Yes, that's my initial idea.

Wanna have a call tonight @resir014? We can flip the switch together while discussing about the migration to v2.0

[2021-07-22 06:57] resir014 commented on #31
@zainfathoni I'm available but only before 20:30. Maybe let's try earlier?

[2021-07-22 09:20] zainfathoni commented on #31
Sure! I just announced it over here:
https://twitter.com/zainfathoni/status/1418138662223552517?s=20

[2021-07-22 09:32] #298 closed

[2021-07-22 10:59] #254 closed

[2021-07-22 11:17] #256 closed

[2021-07-22 12:03] andriawan opened #318 "Add guide for contributors related to fork repository mechanism"
to propose a change, contributors should follow guide about [forking mechanism](https://docs.github.com/en/get-started/quickstart/fork-a-repo). I think we could state it in README for clarity

[2021-07-22 12:15] fncolon opened #319 "Separate the CONTRIBUTING.md file based on ID and EN translation"
Separate the CONTRIBUTING.md file into `CONTRIBUTING_ID.md` and `CONTRIBUTING.md` , considering that the majority of contributors here are Indonesian and we cannot translate them into languages other than those two languages.

the benefit of this is that it makes it easier to read the existing guide.

## Tasks

- [ ] Create a `CONTRIBUTING_ID.md` file.
- [ ] Move all the Indonesian language conten

[2021-07-22 12:15] fncolon commented on #318
how about state it in #319 separated files?

[2021-07-22 12:25] resir014 commented on #319
Issues + tasks list updated.

[2021-07-22 12:25] fncolon commented on #319
Thanks! 👍🏻

[2021-07-22 12:45] zainfathoni opened #321 "Website 2.0"
## Overview

We are revamping our website look and feel based on the new UI design reflected in this Figma file:

https://www.figma.com/file/XNNtIoFEdFqaXOee83n0oN/WBW?node-id=485:2485

## Current Tasks

### Home page

- [x] #332
- [x] #352
- [x] #333
- [x] #322
- [x] #323
- [x] #324
- [x] #504
- [x] #598
- [x] #599
- [x] #642
- [x] #672
- [x] #673
- [x] #668
- [x] #710

### Database-related pages

[2021-07-22 12:45] zainfathoni opened #322 "Welcome Message"
## UI Design

![M01 - Modal Information](https://user-images.githubusercontent.com/6315466/126641966-f7b5996c-bf4b-4006-b304-936d3a4572fe.png)

## Implementation Model

- Only show it for the first time
- Use Local Storage to keep track of whether the modal has been shown for the first time or not
- Do not render it statically, only render it on the client side after hydration
- Make the modal edi

[2021-07-22 12:45] zainfathoni opened #323 "Cara Berkontribusi widget on homepage"
## UI Design

![image](https://user-images.githubusercontent.com/5663877/127315948-b16c169a-5ce4-4de7-9510-1ba10094e559.png)

## Implementation Detail

Simple widget on the homepage, I don't think this will need any Netlify CMS content. Just need to figure out where do these links point to.

## Tasks

- [x] #479
- [x] Create widget with links that link to the following: https://github.com/kawalcov

[2021-07-22 12:45] zainfathoni opened #324 "Informasi Terbaru widget on homepage"
## UI Design

![image](https://user-images.githubusercontent.com/5663877/127315886-63d8bf76-23a8-4157-9efc-424b38878033.png)

## Implementation model

- Add category to Netlify CMS, allow adding one Markdown file per news. (Use [Folder Collections](https://www.netlifycms.org/docs/collection-types/#folder-collections) for this)
- Fields:
  - source (string, required)
  - date (datetime, required)

[2021-07-22 12:46] zainfathoni opened #325 "Kontak darurat page"
## UI Design

![image](https://user-images.githubusercontent.com/5663877/127277090-6c6b5934-96c3-4e00-8859-ba3c882d21cf.png)

![image](https://user-images.githubusercontent.com/5663877/127277063-8d423276-9ce7-4b3a-a3bb-7d197a518481.png)

![image](https://user-images.githubusercontent.com/5663877/127277127-cbd8fa0e-99f5-4feb-88e0-9567a5079b95.png)

## Implementation Model

Using Netlify Collection,

[2021-07-22 12:47] zainfathoni opened #326 "Tentang Kami page"
## UI Design

On Figma: https://www.figma.com/file/XNNtIoFEdFqaXOee83n0oN/WBW?node-id=458%3A2632

## Implementation Model

Static Markdown file, editable from Netlify CMS, rendered as static page on Next.js.

## Tasks

- [ ] Initial content for Tentang Kami page with Netlify CMS
- [ ] Create design for Tentang Kami page
- [ ] Create markdown file + content widgets for Tentang Kami page on Netlify

[2021-07-22 12:47] zainfathoni opened #327 "Edukasi page (multiple items + sub-items)"
![Screen Shot 2021-08-09 at 14 08 26](https://user-images.githubusercontent.com/7221389/128670697-e6530a08-09d0-4c76-923f-c17b4c35a803.png)

Figma: https://www.figma.com/file/XNNtIoFEdFqaXOee83n0oN/WBW?node-id=458%3A2632

To Replace

![Screen Shot 2021-08-09 at 14 09 16](https://user-images.githubusercontent.com/7221389/128670774-bb7b3a33-bc5c-4980-9cd8-82ac77c9dd92.png)

[2021-07-22 12:47] zainfathoni opened #328 "Page Telemedicine"
## UI Design

**Widget**

![image](https://user-images.githubusercontent.com/5663877/127588529-2d8eac59-256d-4282-bd1a-72c40e6747f3.png)

**Page (TBA)**

![image](https://user-images.githubusercontent.com/5663877/127588561-3981a447-da45-4d7a-a67d-e627572fe05d.png)

## Implementation Model

Two implementation phases.

### Phase 1

We create a simple CTA on the homepage which directly links to the s

[2021-07-22 12:47] zainfathoni opened #329 "Donasi Warga page + widget"
## UI Design

![image](https://user-images.githubusercontent.com/5663877/127584681-1da0b789-1b8c-4877-818d-c38930e1c6ef.png)

![image](https://user-images.githubusercontent.com/5663877/127584713-679dab12-c2c0-4ecf-b20f-2d9168175f2c.png)

## Implementation Model

To make this implementation quick, let's implement the widget with dummy data from JS first, before converting said dummy data into the f

[2021-07-22 12:47] zainfathoni opened #330 "Isolasi Mandiri page"

[2021-07-22 13:00] zainfathoni opened #332 "Homepage banner"
## UI Design

![M01 - Homepage banner](https://user-images.githubusercontent.com/5663877/126735080-6abb9aaf-eb2e-4f68-a065-233a57167b59.png)

## Implementation Model

- Banner background image uploaded to imgix/Cloudinary
- SVG version of WBW logo
- Dynamic-size text for the title + subtitle based on screen size

## Current Tasks

- [ ] Replace current banner with the new banner image on imgix and

[2021-07-22 13:00] zainfathoni opened #333 "CTA Database page, Kontak Darurat, and Sembako"
## UI Design

![image](https://user-images.githubusercontent.com/5663877/127032868-6dc4203d-b263-495d-8fdc-62cac070e99d.png)

## Implementation model

We can implement these incrementally in groups (as defined in tasks list), since we still need to make the rest of the pages + content available.

## Tasks

- [x] CTA Database page
- [x] CTA Kontak Darurat
- [x] CTA Sembako
- [x] #406
- [x] #396
- [

[2021-07-22 13:10] #39 closed

[2021-07-22 13:17] #31 closed

[2021-07-22 13:18] #68 closed

[2021-07-22 13:53] #291 closed

[2021-07-22 14:01] mazipan commented on #321
Can not access Figma, is it available for public?

[2021-07-22 14:04] mazipan commented on #308
Or we can pass environment variables, like `CI=true` then we just create a dummy file data without calling the real data from Google sheets/docs

[2021-07-22 14:30] syauqy commented on #321
May I get permission to view the Figma link?

[2021-07-22 15:07] ekamuktia opened #334 "Add proper title attribute on the link for SEO improvement"
## Description
Title attribute can be used to describe html element that's beneficial for SEO.
Currently, there's no `title` on the internal link, for example on this Province page

![image](https://user-images.githubusercontent.com/9606523/126661524-07c654af-3bcf-4a6c-a557-4fd77a838a54.png)

## Implementation Model

Add title attribute on the link on Province List https://www.wargabantuwarga.com/

[2021-07-22 15:15] ekamuktia opened #335 "Improve Province page meta description by adding category"
## Description

Since user usually search by specific keyword such as `Tempat vaksin di Semarang` or `Oksigen di Jakarta`, I think it's better if we include some contact category on the page meta description

## Implementation Model

Adding some most searched category on the province page meta description
For example:
Informasi seputar COVID-19 dan kontak fasilitas/alat kesehatan **termasuk rumah

[2021-07-22 17:19] ekafyi opened #338 "Set up new image CDN service for static assets"
## Overview

Set up a new image CDN service to host and serve static image assets (eg. banner images).

Based on Slack conversation, the two service contenders are [Imgix](https://dashboard.imgix.com) and [Cloudinary](https://cloudinary.com). Both provide free tiers and have comparable image processing features such as compression and resize. The major difference is that _Cloudinary provides image

[2021-07-22 17:19] ekafyi opened #339 "Make WBW Cloudinary account and share credentials with relevant stakeholders"
Once we agree to use Cloudinary to serve static images, a free account under WBW name and email should be created and the credentials shared to those in charge of uploading image assets.

Then #340 can be updated with the account name.

Can anyone in @kawalcovid19/wbw create the Cloudinary account and drop the username here?

[2021-07-22 17:19] ekafyi opened #340 "Add Cloudinary loader function for use with Image component"
Add custom loader function for use with [Next.js Image component](https://nextjs.org/docs/basic-features/image-optimization#loader).

Currently we use Imgix, which belongs to an account we don't have full privilege for. Now we are looking to replace it with our own Cloudinary account.

Requirements:
- Should return compressed image with proper sizes similar to the Imgix image
- #339 is done and th

[2021-07-22 17:19] ekafyi opened #341 "Enable image source URL to be updated from Netlify CMS as text fields"
Currently, image source value is hardcoded in the Image component.

[code]

Once we have fully adopted Netlify CMS for adding content, and particularly once we start #321 (which requires more images), we should add text input fields in Netlify CMS for each image.

The Image component in frontend code should be updated to use `src` value from Netlify CMS data.

When an image needs to be updated, ad

[2021-07-22 23:42] zainfathoni commented on #243
As far as I can remember, that was intentional, due to a bug caused by the non-existence of that first entry. Can you recall what it was @adityapurwa?
We have to make sure that the bug was taken care of before making this change.

[2021-07-22 23:50] zainfathoni commented on #21
@iamyuu, could you please provide some screenshots and screen recordings while reproducing it on your macOS Safari browser issues? I can't reproduce it on my local machine.

You should be able to get the fresh URL every time a build is successful on Netlify. You can get the link to the unique deployment preview URLs by visiting any Pull Request and click on the deployment log, then click the `Prev

[2021-07-23 01:21] zainfathoni commented on #290
Mas @famasya has built a demo over here.
https://famasya.github.io/wbw-gsheets-demo/

The backend is using TrustMedis' TypeSense instance.

This is the source code of the demo.
https://github.com/famasya/wbw-gsheets-demo

I'll be adding more details on how we can utilise this for our use case, but first I need to clarify some stuff from him, such as how often it updates the index from the latest u

[2021-07-23 01:27] zainfathoni commented on #44
Since we have swapped the home page with the content from Netlify CMS in #31, that Google URL prefix should have gone.

[2021-07-23 01:37] zainfathoni commented on #308
I think that's better. Let's use this approach instead.

[2021-07-23 01:41] zainfathoni commented on #321
I'm requesting to the owners to make it publicly viewable.

In the meantime, you can start working on #322 since it already has a screenshot in the description.

[2021-07-23 01:46] zainfathoni opened #344 "Move the `Buka Peta` button under `Salin` button"
For the first iteration, I think #317 changes are still acceptable.
However, we should make it more consistent by putting it under the `Salin` button, so all action buttons are located on the right side.

__Originally posted by @zainfathoni in https://github.com/kawalcovid19/wargabantuwarga.com/pull/317#discussion_r675239846__

[2021-07-23 01:57] mazipan commented on #321
I think it's better to attach the screenshot on all ticket @zainfathoni

[2021-07-23 02:03] mazipan commented on #344
The correct way is, contact some ux folks.
As them to do full revisit this page.
Then we can have a better information structure.

A micro improvement like this can be a double-job when we know the UI is still not on the best part.

I suggest to also align with UX team.

So this ticket can be picked, but we have a better vision to make this page better.

@zainfathoni

[2021-07-23 02:10] mazipan commented on #322
This blocker popup is not a good approach in term of web performance @resir014 @zainfathoni

There is no way for the tools like Lighthouse to discard the popup

[2021-07-23 02:11] andriawan commented on #344
I'm inline with mas @mazipan . For better decision, we need discuss at least with person with more professional in UX

[2021-07-23 02:16] mazipan commented on #344
But this ticket can be picked as a micro improvement for any contributor that wanna working on the `good first issue` ticket.

Let's create a ticket/epic and set a priority when we can focus to do revisit this page.

[2021-07-23 02:18] mazipan commented on #338
+1 for using Cloudinary from me

[2021-07-23 02:27] mazipan opened #345 "Add commitizen on pre-commit hooks"
## Description

Standardize the commit message structure using https://github.com/commitizen/cz-cli

## Tasks

- [ ] Read the doc: https://github.com/commitizen/cz-cli
- [ ] Install all requirements as a devDependencies
- [ ] Add on the git pre-commit hooks

[2021-07-23 02:28] zainfathoni commented on #318
@andriawan could you please track this issue inside the related epics for the sake of discoverability?

I have invited you as a Collaborator to the repository so you can edit the epic issue descriptions by yourself to do so.

Thanks, @andriawan!

[2021-07-23 02:31] famasya commented on #290
Hi there, it is basically an open source version of Algolia. Fortunately typesense have [Algolia's instantsearch.js adapter](https://github.com/typesense/typesense-instantsearch-adapter) for faster development.

Here's demo link for instantsearch.js with typesense server: https://famasya.github.io/wbw-gsheets-demo/

For the reindex, it happens on every 3 hours.

[2021-07-23 02:34] zainfathoni commented on #321
That's the plan Mas @mazipan, I have started with #322 last night while streaming at https://zainf.dev/kerja-bakti-7 😁

But I haven't gotten time to continue with the rest of the tickets. I'll try to do iater today.

[2021-07-23 02:37] zainfathoni commented on #322
I've updated the task list, Mas @mazipan, do you think it's sufficient?

[2021-07-23 02:51] adityapurwa commented on #243
Hello hello, so from what I understand. Do we want to explicitly exclude the first sheet from the result? @zainfathoni, @ekamuktia mentioned that it will affect the file mentioned above.

[2021-07-23 03:46] resir014 opened #346 "Redesign bottom navigation + header to follow Website 2.0 design"
## UI Design

### New bottom navigation

![image](https://user-images.githubusercontent.com/5663877/126735308-e52c500a-b2d2-4350-8d6b-536e5dc8ff0b.png)

### Navigation menu (shown when clicking Menu)

![image](https://user-images.githubusercontent.com/5663877/126735330-a81921a8-d414-4f5c-8430-fc548dbd67ad.png)

## Implementation model

- Navigation menu disclosure is controlled by [Headless UI](ht

[2021-07-23 03:49] #102 closed

[2021-07-23 03:57] fncolon opened #347 "Improve Province Page Search Input"
## Description

The user may not know that he/she can search by address, provider, description and ofcourse the contact number, then look for it by the contact number only.

![Capture](https://user-images.githubusercontent.com/50759463/126735865-d982d543-9734-4d27-bd4f-488a9848857a.PNG)

## Tasks

- [ ] Adding a placeholder to the input with text "Cari berdasarkan kontak, alamat, provider, dan ket

[2021-07-23 05:04] #279 closed

[2021-07-23 05:47] resir014 commented on #347
Added this as a subtask to #244.

[2021-07-23 05:48] resir014 commented on #244
For those dropping by and wanting to pick this issue, rest assured: I will do this on Saturday.

https://twitter.com/resir014/status/1417857034754564097

[2021-07-23 06:07] #235 closed

[2021-07-23 07:22] ekafyi opened #350 "Add path to Netlify CMS invite email"
## Description

Currently, Netlify Identity invite email link points to `wargabantuwarga.com/#invite_token=xxxxx`, which does not do anything as the netlify-identity-widget script is in the admin page.

## Expected Behaviour

The invite email link should point to the admin page instead of the home page.

This can be low priority; but in the meantime we should inform contributors who are given Netl

[2021-07-23 09:41] zainfathoni commented on #290
I've prepared a public repository for this crawler project named [wbw-gsheets-crawler](https://github.com/kawalcovid19/wbw-gsheets-crawler).
Mas @famasya will help to set up the initial codebase later.

[2021-07-23 09:47] #332 closed

[2021-07-23 10:01] zainfathoni opened #352 "Update the image in meta and opengraph tags"
@resir014 we need another version of this banner with the text to be set as the image in the meta tag and opengraph.

_Originally posted by @zainfathoni in https://github.com/kawalcovid19/wargabantuwarga.com/issues/351#issuecomment-885531495_

[2021-07-23 10:13] resir014 commented on #178
@zainfathoni I think we should expedite this issue.

Since we're getting a lot more tasks which needs unit/integration tests available (e.g. #197, #294) we should make this high-priority and shouldn't delay any further in implementing unit/integration tests.

[2021-07-23 10:43] zainfathoni commented on #178
Agreed.
I'll work on it tonight.

[2021-07-23 10:55] zainfathoni commented on #339
Account created, credentials will be disbursed through private channels on a need-basis.

[2021-07-23 10:55] #339 closed

[2021-07-23 10:57] zainfathoni commented on #243
I was talking about #141 PR @adityapurwa.
That was the reason why we included the first sheet in the fetch results.
The risk should be manageable, isn't it?

[2021-07-23 11:24] zainfathoni commented on #346
I think [Popover](https://headlessui.dev/react/popover) makes more sense in this case.

[2021-07-23 11:25] zainfathoni commented on #347
@all-contributors please add @fncolon for ideas.

[2021-07-23 11:30] zainfathoni commented on #350
In the meantime, as long as they watch [my videos here](https://kcov.id/netlify-cms-onboarding), they should be able to overcome this issue manually. 😅

[2021-07-23 11:37] mazipan commented on #243
If the performance of scrapping the Google Sheet was the main issue, we don't need to change it, we just need to remove the first array after finish the scrapping process.

It's not high cost in my opinion

[2021-07-23 12:11] resir014 commented on #344
@mazipan We can include any UX overhauls on the #110 epic. For now, we can go forward with this micro-improvement.

[2021-07-23 12:53] fncolon opened #362 "Province Search Bug on Letter A"
## Description

First letter was working in search function except 'A' letter

## Expected Behaviour

A must show Aceh in the result.

## Additional Information

Link to reproduce
1. [A](https://www.wargabantuwarga.com/provinces?q=A)
2. [a](https://www.wargabantuwarga.com/provinces?q=a)

## Tasks

- [ ] A Letter show Aceh as the result

[2021-07-23 14:11] ekamuktia commented on #362
The issue is related to this https://github.com/olivernn/lunr.js/issues/233

[2021-07-23 14:28] ekamuktia commented on #346
Is this bottom navigation applied in desktop view too?
I know that the priority is mobile first, but I find this bottom navigation a bit inconvenient in desktop view
So maybe we can make it to just show in mobile and for desktop, showing header menu just like in https://kawalcovid19.id/

[2021-07-23 15:05] ekamuktia commented on #288
My concern for this is the urls are already indexed by google or shared by user
Need to consider whether redirection from old url to new url is necessary

[2021-07-23 15:24] fncolon commented on #362
because those search was not in English, maybe we need to remove the stop word filter.

[2021-07-23 16:02] ekamuktia commented on #362
@fncolon
Fortunately itemsjs has this option on the configuration so it can easily done. Updated it on new pull request.
Thanks for the report

[2021-07-23 16:07] fncolon commented on #362
Thanks for the responsibility 🙏

[2021-07-23 17:50] #362 closed

[2021-07-23 17:54] resir014 commented on #346
@ekamuktia The design on the Figma file only has a mobile version, so yes, this bottom nav will be present on both mobile and desktop.

Although for the desktop, I think we can move the menu button to the global header instead, since we also have this design on the Figma file:

![image](https://user-images.githubusercontent.com/5663877/126822057-47aed37c-64cb-4ac9-9335-32e9e62b9bcf.png)

Will thin

[2021-07-23 18:10] #347 closed

[2021-07-23 23:36] #319 closed

[2021-07-24 01:05] adityapurwa commented on #243
I assume if we're removing the first sheet after fetching, the performance cost would not be that high.

If the others agreed to remove the first sheet, then we can do it.

🚀

[2021-07-24 02:46] #334 closed

[2021-07-24 04:02] zainfathoni commented on #288
I think we can afford losing the current index, since it's not that great, anyway. 😅
We can perform URL redirection using Netlify Redirect, but I think it is not worth the hassle.

[2021-07-24 04:17] #292 closed

[2021-07-24 04:54] #215 closed

[2021-07-24 05:26] mazipan commented on #288
Try to find with this keywords `site:wargabantuwarga.com` and we will face many 404 in the search result.

It because the URLs are not stable.
It can be changed.

Since we still on the early phase in terms of SEO, it's better to fix now.

[2021-07-24 05:30] famasya commented on #290
All set mas @zainfathoni . We have three indices for now:
- `wbw-gsheets-database`
- `wbw-gsheets-telemedicine`
- `wbw-gsheets-faq`

I'll send you typesense search key by PM

[2021-07-24 06:54] #340 closed

[2021-07-24 07:36] zainfathoni commented on #290
Could you please help us to create a new `epic` issue for the integration with your search functionality, Mas @famasya?
Frankly, I don't know where it is hosted, how we can fetch the data, etc. 😅 🙏

[2021-07-24 09:09] iamyuu commented on #21
I've tried several deployment previews and also tried clearing the cache but still can't reproduce it (again), sorry can't help.

[2021-07-24 12:35] famasya opened #374 "Migrate to typesense as search backend"
## Overview
As discussed at #290, we can move to typesense to gain instant-search capability. The search experience should be easier and faster for the user, as it provides typo-tolerant and near real-time search results.

### Implementation details
Typesense server will hosted by trustmedis and its contents are crawled hourly by [wbw-gsheets-crawler](https://github.com/kawalcovid19/wbw-gsheets-cr

[2021-07-24 13:29] #179 closed

[2021-07-24 13:29] #180 closed

[2021-07-24 13:29] #181 closed

[2021-07-24 13:29] #182 closed

[2021-07-24 13:30] #178 closed

[2021-07-24 13:42] hanihusam commented on #214
@resir014 could you help me with [this](https://tailwindui.com/components/application-ui/feedback/alerts) code, Mas?

[2021-07-24 14:04] mazipan commented on #374
Just my two cents, the priority should be reordered.
Do not try to create a reusable component on the first place.
It will come into unnecessary complexity.

Just create for spesific page first, then we can think about centralized later.

[2021-07-24 14:17] mazipan opened #375 "Add badge to show our latest code coverage"
## Description

Since we have success submit our code coverage to codecov, we need to know the codecov status via badge in the readme.

## Tasks

- [x] Ask @zainfathoni to generate a badge via codecov settings
- [x] Or via shield.io `https://img.shields.io/codecov/c/github/kawalcovid19/wargabantuwarga.com`
- [ ] Link the badge to codecov dashboard on `https://app.codecov.io/gh/kawalcovid19/wargaba

[2021-07-24 14:23] mazipan commented on #308
Close this ticket because we already take action on #372 which reduces our CI process time significantly

[2021-07-24 14:23] #308 closed

[2021-07-24 14:34] zainfathoni opened #376 "Write some unit & integration tests for `FAQ` page to avoid regressions"

[2021-07-24 14:34] zainfathoni opened #377 "Migrate `FAQ` page into the Typesense backend"

[2021-07-24 14:34] zainfathoni opened #378 "Migrate `Provinces` page into the Typesense backend"

[2021-07-24 14:34] zainfathoni opened #379 "Refactor the components into reusable components in the design system"

[2021-07-24 14:37] zainfathoni commented on #374
Agreed, Mas @mazipan. I have updated the task list accordingly.

Thank you for creating this epic with beneficial documentation, Mas @famasya!
I think we can treat #376 as a POC for this epic. That way, we don't waste any code further just for the sake of proofing the concept. 😁

[2021-07-24 14:45] zainfathoni commented on #375
This is the badge code:

[code]

[![codecov](https://codecov.io/gh/kawalcovid19/wargabantuwarga.com/branch/main/graph/badge.svg?token=zFsEIQ4bhy)](https://codecov.io/gh/kawalcovid19/wargabantuwarga.com)

[2021-07-24 14:50] mazipan commented on #375
**Mulai Aja Dulu**

Nanti juga **Pasti Ada Jalan**

Make it happen, make it better (asal jangan sampai lupa make it better nya aja ya)

[2021-07-24 14:54] zainfathoni opened #380 "Write some e2e tests for `FAQ` page to avoid regressions"

[2021-07-24 14:54] zainfathoni opened #381 "Write some e2e tests for `Provinces` page to avoid regressions"

[2021-07-24 14:54] zainfathoni opened #382 "Write some unit & integration tests for `Provinces` page to avoid regressions"

[2021-07-24 14:54] zainfathoni opened #383 "Write some unit & integration tests for `Contact` page to avoid regressions"

[2021-07-24 14:59] zainfathoni commented on #375
Nice sales pitch! 😆

[2021-07-24 16:35] resir014 opened #385 "Change typeface from Nunito to Inter"
## Implementation model

Install the Inter typeface locally. (This includes both standard and italic styles, unlike Google Fonts.)

[code]

[2021-07-24 19:04] #352 closed

[2021-07-24 23:09] famasya commented on #374
Well, I've also written a quick implementation of this approach [in this commit](https://github.com/famasya/wargabantuwarga.com/commit/1ddd0a58ca4514a33ceef392d9d90675ae68bfff?branch=1ddd0a58ca4514a33ceef392d9d90675ae68bfff&diff=split) from this [`stateResults` reference](https://www.algolia.com/doc/api-reference/widgets/state-results/react/) mas @zainfathoni . Hope it helps.

PS: pardon for bad s

[2021-07-24 23:09] #385 closed

[2021-07-25 00:59] #244 closed

[2021-07-25 01:29] #294 closed

[2021-07-25 02:06] resir014 opened #391 "Refactor `Page` components to follow Website 2.0 design"
## Implementation Model

This need a rework on how the Page components work. We need to separate `PageContent` to `HomePageContent` which is used specifically in the homepage. We also need to modify how the Card component works in the sense that

## Tasks

- [x] Add `Container` component to design system
- [x] Separate container from the page components
- [x] Separate `PageContent` and `HomePageCo

[2021-07-25 02:45] #341 closed

[2021-07-25 05:21] #376 closed

[2021-07-25 06:14] ekafyi opened #395 "Integrate Cloudinary to Netlify CMS so admins can upload image directly from CMS"
Netlify CMS has a [Cloudinary integration](https://www.netlifycms.org/docs/cloudinary/) for the Media assets. Making use of this integration will improve ease of use for admins who need to update WBW images, as they can do everything in one place (WBW admin page)—no need to login to Cloudinary, upload image there, copy the path, etc.

It might be particularly useful for #321 when we have multiple

[2021-07-25 06:18] resir014 opened #396 "Tweak Button components to support multiple colours"
## Implementation model

[code]

[2021-07-25 07:38] zainfathoni commented on #110
With #374 coming, I'm wondering whether we still need #125 & #197 implemented. 🤔

Any opinions, @kawalcovid19/wbw?

[2021-07-25 07:42] #396 closed

[2021-07-25 10:31] zainfathoni opened #405 "Query params are cleared every time the user opens the Filter modal"
## Description

After #384 implementation, a minor bug is also a suspect of this slow modal opening.
Whenever we open the Filter modal, the query params are cleared, which eventually clears the current filter & sort as well.
It causes the `ContactList` component to be rerendered.

https://user-images.githubusercontent.com/6315466/126896007-865ec1cb-88fa-4ad7-a250-9c5146336113.mov

## Expected Beha

[2021-07-25 10:36] zainfathoni opened #406 "Forward `kebutuhan` query params from `ProvincesPage` to `ProvincePage`"
## Description

After the users click on one of the `Kebutuhan` buttons on the home page, we need to persist the information when they click on any province.

## Additional Information

Please read [this Slack thread](https://kawalcovid19.slack.com/archives/C027861JD1T/p1626947302079900) for more context.

[2021-07-25 11:23] #375 closed

[2021-07-25 12:45] #198 closed

[2021-07-25 14:37] zainfathoni opened #412 "Revert `fetch-wbw` back to `mirror-box` again once the `mirror-box` is updated"
You can temporarily revert [this line](https://github.com/kawalcovid19/wargabantuwarga.com/commit/81be7ad788d76a02107e896fc3c14f95b124b89b#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R14) into using the `fetch-wbw` script again, so that we can merge this PR to the `main` branch.
Once it has been merged to the `main` branch, the `mirror-box` script gets the latest version o

[2021-07-25 14:51] zainfathoni opened #413 "Write some unit & integration tests for `Province` page to avoid regressions"

[2021-07-25 14:51] zainfathoni opened #414 "Write some unit & integration tests for `Contact` page to avoid regressions"

[2021-07-25 15:01] #288 closed

[2021-07-25 15:19] ekamuktia opened #417 "Revert filter & sort ui"
## Description

Revert filter & sort ui to not use modal

## Implementation Model

Just in case modal is still needed later, add `useFilterModal` as setting whether to show filter as modal or not.
Refactor `renderSearchFilter` in `SearchFilterModal` as new component.
If `useFilterModal` is false, render `SearchFilter` instead `SearchFilterModal`.

[2021-07-25 15:33] baraeb92 opened #419 "Google Tag Manager is not triggered in the new homepage"
## Description

Previous Google Tag Manager is no longer triggered in Warga Bantu Warga website after the homepage revamps, thus creating an issue where data is not sent to Google Analytics.

## Expected Behaviour

Google Tag Manager should be triggered on every page, see the previous PR here: https://github.com/kawalcovid19/wargabantuwarga.com/pull/36

## Additional Information

- [x] Add the GTM

[2021-07-25 15:53] baraeb92 opened #421 "Enhance the category search and filter mechanism and UI to allow user act faster on the information provided there"
## Description

The current new UI for the province database creates several problems from the user's POV:

(1) By hiding the filter within the filter button, makes the functionality less obvious, and the current design is also less intuitive for users because there's no submit category button, only dismiss.

(2) Clicking enter on the search bar also send the user to the filter function instead su

[2021-07-25 16:05] baraeb92 commented on #421
Related issue: https://github.com/kawalcovid19/wargabantuwarga.com/pull/420

[2021-07-25 16:07] #345 closed

[2021-07-25 16:08] mazipan commented on #419
This need to be prioritized @zainfathoni.
Please increase the priority to be higher

[2021-07-25 16:14] fncolon opened #422 "[UX] Bottom Page Navigation Improvements"
## Description

there are several things that interfere with the bottom page navigation, including the location of the navigation items that are different from the previous version, and the use of mixed language.

![126778941-3cee2218-fb7a-4cff-94a0-412b84f25d8e](https://user-images.githubusercontent.com/50759463/126905844-9ef5c9d4-0fe4-4327-9391-20acf5f600ef.png)

`Pusat Data` used more often, bu

[2021-07-25 16:26] #417 closed

[2021-07-25 16:34] mazipan opened #424 "Contact detail page 404"
## Description

Check this page: https://www.wargabantuwarga.com/provinces/dki-jakarta/act-humanity-care-line-76 got 404

Seems related w PR #361

## Expected Behaviour

Page should accessible

## Additional Information

[2021-07-25 17:12] mazipan opened #425 "Testing for GTM"
## Description

Improvement for #419, we need to setup a proper test so we can avoid this accident in the future

[2021-07-25 17:30] ekamuktia opened #426 "commitizen causing error in Windows 10"
## Description

commitizen causing error in Windows 10

## Expected Behaviour

Should work in all OS

## Additional Information
related issue https://github.com/commitizen/cz-cli/issues/627

[2021-07-25 18:50] codenoid opened #428 "Provide Public API"
## Description

So community can re-use the data

## Implementation Model

1. Zero Authentication

[2021-07-25 19:00] resir014 commented on #426
I'm replacing commitizen with [commitlint](https://github.com/conventional-changelog/commitlint) - it focuses more on linting the commit message and it doesn't seem to require a command which only works on non-Windows devices.

[2021-07-25 19:25] #426 closed

[2021-07-25 19:30] resir014 commented on #421
@baraeb92 I'm re-posting the rationale behind the UI change for the filter @zainfathoni and I did from the Slack over here.

The reason we decided to tweak the search and filter UI is because we had to make room for implementing a virtualised list for our `/provinces` list (#125). This is an important change performance-wise, since the bigger the number of lists that gets rendered on the page, the

[2021-07-25 20:19] baraeb92 commented on #421
Noted, thanks for the context @resir014 yes, the previous design can be improved as well.

I already attached the wireframe to be used as consideration for the next enhancement.

I believe the new design can help, because it actually take the same horrizontal phase as your implementation, maybe just a bit more.

But definitely not as big as our previous implementation.

This I think a good comprom

[2021-07-25 22:45] zainfathoni commented on #421
I have a few concerns about this:

1. Not all numbers are `WhatsApp`-able, are we sure to make them always to be linked to WhatsApp?
2. Some phone number fields contain multiple phone numbers, os it's much more complex to provide that functionality rather than a simple `Salin` button

[2021-07-25 22:46] zainfathoni opened #431 "Contact page is inaccessible"
## Description

Contact Page is inaccessible

https://user-images.githubusercontent.com/6315466/126915737-66af354f-ad67-4e43-be88-5c0a1e9b07be.mov

## Expected Behaviour

Contact Page is accessible

## Additional Information

Probably due to changes in #288 ?

[2021-07-25 22:48] #382 closed

[2021-07-25 22:59] mazipan commented on #431
Duplicate w #424

[2021-07-25 23:00] mazipan commented on #431
PR on #427

[2021-07-25 23:06] #424 closed

[2021-07-25 23:06] #431 closed

[2021-07-25 23:13] zainfathoni commented on #428
You can use covid.yapie.me as your backend, as explained in #317.

If you need something more than that, you need to wait for #374 to be completed.

[2021-07-25 23:13] #428 closed

[2021-07-26 01:10] mddarmawan opened #434 "Typo in some FAQ answers"
## Description

1. selanjurnya -> selanjutnya
![Screen Shot 2021-07-26 at 08 04 56](https://user-images.githubusercontent.com/22543134/126920091-a074a334-5e15-4a38-8ede-d1ce21aa8a45.png)

2. disinfekfan -> disinfektan
![Screen Shot 2021-07-26 at 08 07 04](https://user-images.githubusercontent.com/22543134/126920146-76b8ff05-a1bd-4b4c-a75c-8a7314b566fd.png)

3. telpon -> telepon ([_source_](https:/

[2021-07-26 02:44] baraeb92 commented on #421
I'm open for alternative solution.

Alternatively we can keep the salin for phone number as it is but making sure that when user click on the phone number it will prompt call to phone number instead.

And for data that has multiple phone number we can use comma to seperate each of them maybe with dedicated line instead? @zainfathoni ![Screenshot_20210726-094330_Contacts.jpg](https://user-images.gi

[2021-07-26 03:36] baraeb92 commented on #419
Reopening this, to investigate the cause on why the noscript is not present on the <body> when the web is loaded.

See my comment here: https://github.com/kawalcovid19/wargabantuwarga.com/pull/423/files/fd7d2157452ee2df2515a30d3d7c9494fc618f18#r676263160

[2021-07-26 03:55] mazipan commented on #419
![Screen Shot 2021-07-26 at 10 50 41](https://user-images.githubusercontent.com/7221389/126930941-f546f6a2-23ae-4b0e-9cb5-a89fbe82cc12.png)

[2021-07-26 04:58] resir014 opened #439 "Replace custom script component with `next/script`"
## Description

Our current `<Script />` component implementation has an issue where it would load the same script multiple times.

![image](https://user-images.githubusercontent.com/5663877/126935202-a15c56c8-27a2-41a6-abb9-664591b0145c.png)

Replace this component with the built-in `next/script` component to fix this issue.

## Implementation Model

[Documentation for `next/script`](https://next

[2021-07-26 06:59] baraeb92 commented on #422
The feedback has been included in our latest design changes and will be part of the work on website 2.0

See the latest design proposal here: https://www.figma.com/file/XNNtIoFEdFqaXOee83n0oN/WBW?node-id=485%3A2485

@zainfathoni

[2021-07-26 09:53] baraeb92 commented on #321
Figma file has been updated. You should be able to see it now. @syauqy

[2021-07-26 10:17] Namchee commented on #243
This issue should have been resolved already by #361. The first sheet is removed after the sheets have been fetched.

[2021-07-26 10:26] #243 closed

[2021-07-26 10:28] mazipan commented on #419
We have issue #439

[2021-07-26 11:00] ekamuktia opened #444 "Refactor Mobile Search Form"
## Description
Just like suggested in #421, to reduce search form space, change mobile search form styling just like desktop version

Current:
<img width="312" src="https://user-images.githubusercontent.com/9606523/126978188-9eef9d69-81ae-4e04-a6fe-bcf9c5a5492e.jpg">

Expected:
<img width="312" alt="Screen Shot 2021-07-25 at 22 02 00" src="https://user-images.githubusercontent.com/23743497/1269053

[2021-07-26 11:47] #391 closed

[2021-07-26 11:47] #406 closed

[2021-07-26 11:54] mazipan opened #447 "Associate Search Console w Analytics"
## Description

https://search.google.com/search-console/settings/associations?utm_source=sci&utm_medium=sci&utm_campaign=sci&resource_id=sc-domain:wargabantuwarga.com

[2021-07-26 12:09] zainfathoni commented on #447
<img width="597" alt="Screenshot 2021-07-26 at 20 06 12" src="https://user-images.githubusercontent.com/6315466/126986036-89e1b048-467a-49f7-9dd8-16e859867fa1.png">

I can't do it because I don't own the GA property.
I think we need Mas @baraeb92's help with this, but he needs to "own" the search property by [verifying himself](https://support.google.com/webmasters/answer/7687615#zippy=%2Cadd-or-r

[2021-07-26 12:48] zainfathoni opened #448 "Forwarded query params are cleared upon search on the `Provinces` page"
## Description

https://user-images.githubusercontent.com/6315466/126990915-bfe2eb0e-5e11-432c-8417-cd59a75ac102.mov

## Expected Behaviour

The filter query params are maintained, so when the users click on a province after searching, the `Kebutuhan` filter is set properly.

## Additional Information

This is related to #393 implementation.

[2021-07-26 12:50] zainfathoni opened #449 "Update Sembako image and CTA icon sizes"
[Context](https://kawalcovid19.slack.com/archives/C0279E2Q99Q/p1627303498021600?thread_ts=1627300756.018400&cid=C0279E2Q99Q)

<img width="276" alt="Screenshot 2021-07-26 at 20 50 00" src="https://user-images.githubusercontent.com/6315466/126991506-148ca6e9-16ed-43b0-b7f2-a0688ca06edb.png">

[2021-07-26 12:59] resir014 commented on #449
@zainfathoni Will need a raw version of the CTA image. I'm trying to download from the Figma but it's heavily scaled down:

![image](https://user-images.githubusercontent.com/5663877/126992484-48cab390-675d-4297-abb0-738784846d47.png)

[2021-07-26 13:11] bungmomomm commented on #449
Here is the banner for sembako

<img width="328" alt="banner-sembako@2x-min" src="https://user-images.githubusercontent.com/30654812/126994068-12648474-f79c-4590-80e1-e9accb0ce160.png">

[2021-07-26 13:26] resir014 commented on #197
Found more issues with `itemsjs`: turns out it's using a vulnerable version of lodash:

![image](https://user-images.githubusercontent.com/5663877/126996085-f2392f07-30e9-4a3e-8cb8-70dd7d86ba9b.png)

A quick peek through the bundle analyser shows that it's coming from `itemsjs`:

![image](https://user-images.githubusercontent.com/5663877/126996174-37a487a2-f42f-41f1-99a2-326bfc1606c8.png)

We **ne

[2021-07-26 14:46] #422 closed

[2021-07-26 15:10] baraeb92 commented on #447
Will do this tomorrow morning, because I need infra team to add the TXT to the DNS. @zainfathoni

[2021-07-26 15:14] zainfathoni opened #453 "Add more reference text in Rumah Sakit & Donor Plasma queries"
## Description

[Context](https://kawalcovid19.slack.com/archives/C0279E2Q99Q/p1627309956034600)

<img width="468" alt="Screenshot 2021-07-26 at 23 11 05" src="https://user-images.githubusercontent.com/6315466/127013329-05ed4c36-ae7d-47bd-bb33-2596bb0646fc.png">

![image](https://user-images.githubusercontent.com/6315466/127013388-e0532875-a90f-4c37-8218-10b191e03573.png)

![image](https://user-im

[2021-07-26 15:14] ekafyi commented on #110
🤔 I have no real-world experience with this tbh, but the new typesense will enable us to fetch in paginated batch (eg. 30 first items, next 30 items, etc), is that correct? In that case IMO we won't need virtualized lists.

[2021-07-26 15:28] zainfathoni commented on #110
What do you think, Mas @famasya?
Typesense provides proper pagination, doesn't it?

[2021-07-26 15:37] famasya commented on #110
Yes, it provides decent pagination as described [here](https://typesense.org/docs/0.21.0/api/documents.html#arguments). FYI, it also provides federated search (search over multiple indexes at once) to reduce round-trip latency.

[2021-07-26 15:46] ekafyi commented on #453
Something like this? @zainfathoni

![Screen Shot 2021-07-26 at 22 43 23](https://user-images.githubusercontent.com/6597211/127018419-953dd601-5bc3-4404-9d18-6e5ebe6dfd3f.png)

if anyone else with a *less questionable* visual design sense than me has a different idea, please do chip in.

also summoning Komisaris Design System™ @resir014 in case there's an existing documented component that's more s

[2021-07-26 15:51] baraeb92 commented on #447
Unfortunately, it cannot be done using GA4 at the moment, any specific reason as to why this is necessary?

See: https://support.google.com/webmasters/thread/77936816/linking-search-console-to-ga4?hl=en

@zainfathoni @mazipan

[2021-07-26 15:58] resir014 commented on #453
@ekafyi That might work! We could use a [Well](https://tailwindui.com/components/application-ui/layout/panels#component-8d5f81c8e04bef91faf820f62e3026e8) component for that specific design. Or if that feels weird/we want to stick to any existing component, we could use an [Alert](https://tailwindui.com/components/application-ui/feedback/alerts).

[2021-07-26 15:58] famasya commented on #197
As my experience, integrating Typesense into React component itself isn't take too much effort (and properly typed). I think we should take a look at #401 first, since it's having some minor issues @resir014 .

cc @zainfathoni @mazipan @ekamuktia

[2021-07-26 16:17] #439 closed

[2021-07-26 20:35] #449 closed

[2021-07-26 23:15] zainfathoni opened #458 "Test the search functionality in `ProvincePage` extensively"

[2021-07-26 23:15] zainfathoni opened #459 "Test the search & filter functionalities in `ContactPage` extensively"

[2021-07-26 23:28] #413 closed

[2021-07-27 00:20] ekamuktia opened #461 "Loading & Empty State in FAQ page"
## Description
Currently, there's no loading & empty state in FAQ Page. Just like in Province/Contact page, loading & empty state view in FAQ page should be added

![image](https://user-images.githubusercontent.com/9606523/127075429-32e98ee2-a624-47b7-b897-fc22aa1142b1.png)

[2021-07-27 03:03] zsbahtiar opened #464 "Trailing semicolon at the end of the homepage"
## Description
halo tim wargabantu warga. Saya menemukan issue yang kecil diatas menu navigasi.
<img width="736" alt="Screen Shot 2021-07-27 at 09 59 38" src="https://user-images.githubusercontent.com/8356972/127088332-3a8d80ce-2cd6-49b7-92c2-a2568d88ab4d.png">

## Expected Behaviour

<img width="736" alt="Screen Shot 2021-07-27 at 10 00 46" src="https://user-images.githubusercontent.com/8356972/1

[2021-07-27 04:52] resir014 commented on #464
Hi @zsbahtiar, there is indeed a trailing semicolon at the homepage. Removing this on #467. Thanks!

[2021-07-27 06:13] #464 closed

[2021-07-27 08:36] #458 closed

[2021-07-27 08:44] resir014 commented on #326
Tasks list updated. Waiting on design from UX team cc: @baraeb92

[2021-07-27 08:53] bungmomomm commented on #326
- Create design for Tentang Kami page

Siap ndan 86 @zainfathoni @baraeb92

[2021-07-27 09:54] zainfathoni opened #468 "Test the search & filter functionalities in `ProvincePage` extensively"

[2021-07-27 10:12] #346 closed

[2021-07-27 11:32] resir014 commented on #324
Issues + tasks list updated.

[2021-07-27 12:31] #448 closed

[2021-07-27 16:15] #461 closed

[2021-07-27 18:41] #383 closed

[2021-07-27 18:41] #289 closed

[2021-07-27 18:51] zainfathoni commented on #412
Reopening this issue due to #469

[2021-07-27 18:53] #453 closed

[2021-07-27 23:25] mazipan commented on #419
Can we close this @baraeb92?

[2021-07-28 04:46] zainfathoni commented on #333
Closing this issue since all tasks have been completed.
CMIIW @resir014.

[2021-07-28 04:46] #333 closed

[2021-07-28 06:51] resir014 commented on #325
Issue + tasks list updated.

[2021-07-28 07:36] resir014 opened #477 "Setup Kodiak bot for automating pull requests"
## Description

Kodiak (https://kodiakhq.com/) is a GitHub bot for automating pull requests. It has features like auto-merging and auto-updating pull requests, complete with auto-deletion of old PR branches. It is also used in many big projects like [Next.js](https://github.com/vercel/nextjs)

## Implementation Model

Since GitHub already implements auto-merge for pull requests, I guess what we on

[2021-07-28 08:07] resir014 opened #479 "Add new Outline Button component"
## Description

Add a new Outline button component to our Button design system components. Outline Buttons are buttons with transparent background but with coloured texts + borders.

![image](https://user-images.githubusercontent.com/5663877/127287903-5719e715-7478-4009-ba69-432de1a2f887.png)

![image](https://user-images.githubusercontent.com/5663877/127287994-59053bd1-303d-4f8e-b691-4620ebe1c8a2

[2021-07-28 08:12] resir014 opened #480 "Add `iconPosition` prop in Button design system components"
## Description

Add an `iconPosition` prop in all Button components with an option of `"left"` and `"right"`.

![image](https://user-images.githubusercontent.com/5663877/127288382-826ff402-c5b2-46ba-84a4-0e6c8c2b5f01.png)

## Implementation Model

See [Tailwind UI](https://tailwindui.com/components/application-ui/elements/buttons#component-33ea45530bf476032a08474a765a0d2f) for reference.

- Availa

[2021-07-28 08:45] #412 closed

[2021-07-28 09:16] resir014 opened #482 "Add `security.txt` file to make it easier for security researchers to submit security vulnerability reports"
## Description

The main purpose of `security.txt` is to help make things easier for companies and security researchers when they want to get in touch with us about security issues.

The https://securitytxt.org/ website provides a generator for `security.txt` file as well as a FAQ, and the technical standard (draft) can be viewed [here](https://tools.ietf.org/html/draft-foudil-securitytxt-12).

##

[2021-07-28 09:47] mazipan opened #483 "Replace `eslint-plugin-simple-import-sort` w `eslint-plugin-import`"
## Description

Current `eslint-plugin-simple-import-sort` is problematic, it can prioritize internal code above the 3rd parties.

## Implementations

Fix the configs, or migrate to the new one

## Tasks for fix the config

- [ ] Need to play w this current config, maybe adding another regex

[code]

## Tasks for migration

- [ ] Read the [docs](https://github.com/import-js/eslint-plugin-import)
-

[2021-07-28 10:49] #444 closed

[2021-07-28 11:25] #330 closed

[2021-07-28 11:36] ekamuktia opened #484 "Bug: FAQ Page - Both Loading & Empty State shown on page refresh"
When FAQ Page is refreshed, both loading and empty state are shown.

https://user-images.githubusercontent.com/9606523/127190424-f6d33d2f-2491-4504-94b1-020cadf680dc.mp4

[2021-07-28 11:43] mazipan opened #486 "Change query param to path param"
## Description

Currently, we utilize the query param to differentiate the "kebutuhan" selection.
Since these selection already bring to the main homepage and the menus, I think we need to think create a separate path URL for these selection:

Sample current condition:

- Donor Plasma for all Provinces: https://www.wargabantuwarga.com/provinces?kebutuhan=Donor%20plasma
- Info Oksigen for all Provi

[2021-07-28 15:00] #479 closed

[2021-07-28 16:39] #480 closed

[2021-07-28 16:51] resir014 commented on #323
Need info on where these links head to. cc: @zainfathoni @baraeb92

[2021-07-28 17:38] baraeb92 commented on #323
Daftar donor darah should link to this URL: https://docs.google.com/forms/d/e/1FAIpQLScDShI4BtBcA3dgMJhCJPs2fBl5wXoaR7kMspapNZdYKFOugA/viewform

Daftar jadi relawan should link to this URL: https://www.indorelawan.org/activity/60e2ed45164da80018b0e246

Tambahkan info should link to this URL: https://docs.google.com/forms/d/e/1FAIpQLSc_m0WyokBk8xv9jBwYFN1zAt4_u-kE2TI9ZBrAokB4E08AGw/viewform

@resir

[2021-07-28 17:40] baraeb92 commented on #419
Yes we can @mazipan

[2021-07-28 17:40] #419 closed

[2021-07-28 23:42] #477 closed

[2021-07-29 05:31] resir014 opened #498 "Incorrect navigation menu layout"
## Description

Based on the Figma file, the navigation menu should be located at the top of the page on both mobile and desktop, hovever it is currently located at the bottom on the mobile site.

![image](https://user-images.githubusercontent.com/5663877/127437118-3932f0db-679b-4063-bd9c-89757d864557.png)

## Expected Behaviour

The navigation menu should be located at the top navbar on both desk

[2021-07-29 09:34] resir014 commented on #498
This should also slightly reduce the home page load, since we no longer have to load two `Popover`s at once throughout the entire website.

[2021-07-29 12:47] ekamuktia commented on #486
For this, it's better to save fetch result in another file containing contact list.

If it's in current structure, I made a sample implementation here https://github.com/ekamuktia/wargabantuwarga.com/tree/kebutuhan-slug
It's not really optimized because I need to retrieve contact list by iterating province data.
Also regardless of the structure, interaction on this part needs to be improved

https

[2021-07-29 12:57] #484 closed

[2021-07-29 13:04] mazipan commented on #486
If using current JSON data, yes I also think we need to split the current JSON with a different subset. e.g: All contact data in all provinces, contact data in spesific provinces, contact data for spesific kebutuhan in all provinces, contact data for spesific kebutuhan in specific province, etc.

It will be easier to provide the initial data on the staticProps

[2021-07-29 13:12] #447 closed

[2021-07-29 15:12] famasya commented on #486
Got it, will do it along all updated formats tonight. I'll let you know once it's done @ekamuktia .

[2021-07-29 17:32] famasya commented on #486
All set @ekamuktia . I've also added sortable fields named `order` in every row as requested in #401 .

[2021-07-29 19:07] #323 closed

[2021-07-29 19:33] #498 closed

[2021-07-30 01:10] resir014 commented on #329
Issues + task list updated.

[2021-07-30 01:49] resir014 opened #504 "WhatsApp Hotline widget on homepage"
## UI Design

![image](https://user-images.githubusercontent.com/5663877/127587690-20f05cae-109e-407a-9507-fa188031face.png)

## Implementation Model

Simple, static widget on the homepage.

[2021-07-30 04:26] mazipan opened #507 "Define GTM tracker"
## Description

GTM have ability to handle the event tracker and sending it to other analytic tools like GA.

We need to start define which part that we want to track.

## Implementation Model

Create a centralized doc first to collect all the event to be tracked (maybe use Google Sheet), list down all the events, then we can distribute to the developer.

[2021-07-30 06:25] #504 closed

[2021-07-30 10:58] zainfathoni opened #509 "Add more test assertions for the component functionalities"
The snapshot test is good for asserting the styling changes.
Nevertheless, I think it would be helpful if we add another test assertion this `href` property to signal the developers that it's something that matters in this component.

_Originally posted by @zainfathoni in https://github.com/kawalcovid19/wargabantuwarga.com/pull/506#discussion_r679630513_

[2021-07-30 11:00] zainfathoni opened #510 "Update the WhatsApp link to indicate that it's coming from our website"
@resir014 in the last meeting we want to explore possibilities to include predefined message template when user is clicking the hotline button.

So that we can analyze how many of the user that get in touch with us, is actually coming from the WBW website.

So to enable that we need to modify the link used to include the template text.

Would you mind to change all the link that directing user to

[2021-07-30 11:04] zainfathoni commented on #507
Mas @baraeb92, can we rely on you for preparing the document? 😁
Thanks! 🙏

[2021-07-30 11:23] mazipan commented on #510
I think @baraeb92 already create the shortened version of the URL

[2021-07-30 12:26] baraeb92 commented on #510
Here's the short link version https://bit.ly/hotlinewarga

Probably the only url left to change is the one in navbar

[2021-07-30 12:33] resir014 commented on #510
@zainfathoni @baraeb92 This was already added with the mentioned PR:

https://github.com/kawalcovid19/wargabantuwarga.com/commit/8ad5da11cb0a9afdbc3e5bdba419d56caebaec83

Or are we talking about something else?

[2021-07-30 12:43] baraeb92 commented on #507
Yes, I'll try to identify which flow in our web that might need additional work or datalayer to be track properly.

Most click has been recorded at the moment, so there might not be a lot of custom datalayer needed, the only one that I can think of is search, where we might have to record user keyword input.

But let me double check on that. @zainfathoni

[2021-07-30 12:44] baraeb92 commented on #510
Have we also changed the url used in navbar and in the hamburger menu @resir014 ?

[2021-07-30 12:47] resir014 commented on #510
Oh yea, that one I haven't. @baraeb92

[2021-07-30 13:05] syauqy commented on #329
Hi mas @zainfathoni mas @resir014. Mas Resi going to work on this? I did a trial on the content layout using the existing `PageContent` and `HomePageContent`. I think the current `PageContent` is too tight for this cards.
![image](https://user-images.githubusercontent.com/3627108/127654300-abad9f26-6f94-497c-aeb3-91efae906da2.png)![image](https://user-images.githubusercontent.com/3627108/127656740

[2021-07-30 13:41] hendraaagil commented on #434
I already requested an edit access to [FAQ COVID-19](https://docs.google.com/spreadsheets/d/1oO5ZeC_Qgo7e8s4vMDukWCGSEquefbcOFQsQU5ksxIM/) Spreadsheet to fix this typo😄

[2021-07-30 14:47] zainfathoni commented on #434
For this type of issue, let's ask Mas @ardiwilda to take care of it. 😁

[2021-07-30 23:24] mazipan opened #516 "Sembako WBW getting Blank"
## Description

https://sembako.wargabantuwarga.com/ is getting blank page

## Expected Behaviour

Should accessible

[2021-07-30 23:53] zainfathoni commented on #516
Apparently, the URL is updated to https://petakebaikan.kitabisa.com/
We have to update the URL from our website, then.

[2021-07-30 23:53] mazipan opened #517 "typeface-inter deprecated"
## Description

As you can read here: https://www.npmjs.com/package/typeface-inter

![Screenshot_20210731-064929_Chrome](https://user-images.githubusercontent.com/7221389/127721666-c05ce7c2-2759-45ae-8a3e-03467f2be167.jpg)

`typeface-inter` state itself that they are now deprecated.

We need to think to migrate this package to the new one, the one that being recommended by the author.

Since it's

[2021-07-30 23:54] mazipan commented on #516
Move to the constant, so we can update it in a single place in the future.

[2021-07-30 23:55] zainfathoni commented on #516
The same subdomain would go live again actually but in a static page form.
But yeah, for now, we have to update the URL not to go to a blank page. 😅

[2021-07-30 23:58] mazipan commented on #516
At least for technical part, we need to make it simpler to be updated.

- Move to single place - quick fix
- Think to move it to CMS in the future

[2021-07-31 00:23] #516 closed

[2021-07-31 03:01] zainfathoni commented on #434
I just updated the https://kcov.id/wbw-faq short link to point to another sheet that we own, so we can update the sheets by ourselves. It should go live in less than 30 minutes.

[2021-07-31 03:12] #510 closed

[2021-07-31 03:26] hendraaagil commented on #44
I think this issue is already fixed 😅

[2021-07-31 03:27] #214 closed

[2021-07-31 06:33] resir014 commented on #517
@mazipan The reason we're using `typeface-inter` right now is that `@fontsource/inter`, for some reason, doesn't have italic styles, whereas `typeface-inter` does. This is because `@fontsource/inter` uses the version published by Google Fonts, which does not have italics: https://github.com/google/fonts/issues/2386

[2021-07-31 09:33] mazipan opened #521 "Font size on the latest news section seems too big"
## Description

The text content for latest news section on the homepage seems too big compared to the title text.

Preview current condition:

![Screenshot_20210731-162635_Chrome](https://user-images.githubusercontent.com/7221389/127735501-812d667e-292c-4357-91c2-4c50d9345155.jpg)

## Expected Behaviour

In the Figma, it use same font size: 14px. Please refer to Figma on #321

[2021-07-31 09:38] zainfathoni commented on #322
This should have been closed by #437, shouldn't it, Mas @mazipan ?

[2021-07-31 09:43] mazipan commented on #322
I will close this, and will create another bug task if found any defects

[2021-07-31 09:43] #322 closed

[2021-07-31 09:44] mazipan commented on #521
Related with #324

[2021-07-31 10:23] #44 closed

[2021-07-31 10:23] mazipan commented on #44
Thank you @hendraaagil

[2021-07-31 10:24] mazipan commented on #44
@all-contributors please add @hendraaagil for code

[2021-07-31 10:34] mazipan opened #522 "Sumber text are too close with the content"
## Description

Open https://www.wargabantuwarga.com/faq, scroll down until you found the content with the "sumber" text.

Preview:

![Screenshot_20210731-173049_Chrome](https://user-images.githubusercontent.com/7221389/127737080-99572988-c902-4ff0-8c65-9e7a2c8da49d.jpg)

## Expected Behaviour

Adding a gap between the content and the "sumber" text, maybe adding class `mt-2`

[2021-07-31 10:51] hendraaagil commented on #24
All task for this issue is already done

[2021-07-31 10:53] zainfathoni commented on #44
This issue was not automatically closed because you mentioned this issue in the PR incorrectly. 😅

I just fixed it accordingly at #513, next time, please follow that convention to ensure that GitHub closes the related issues automatically. 😉

[2021-07-31 10:59] zainfathoni commented on #434
I have verified that all the typos raised above have been resolved. Thanks, Mas @ardiwilda!

[2021-07-31 10:59] #434 closed

[2021-07-31 11:00] zainfathoni commented on #434
@all-contributors please add @ardiwilda for content

[2021-07-31 11:01] hendraaagil commented on #44
Oh, I see. Sorry for my mistake 😆

[2021-07-31 11:05] #521 closed

[2021-07-31 11:11] #24 closed

[2021-07-31 12:27] mazipan commented on #517
Close for now.

[2021-07-31 12:27] #517 closed

[2021-07-31 13:43] resir014 commented on #324
@zainfathoni I think I won't have time to convert the dummy data to Netlify CMS tonight, care to help?

The dummy data I made on #511 can be converted immediately to markdown, put them as a [Folder Collection](https://www.netlifycms.org/docs/collection-types/#folder-collections) under `_content/informasi-terbaru/<timestamp-filename>.md`

The object shape of the dummy data is also ready to convert

[2021-07-31 14:13] #522 closed

[2021-07-31 15:38] zainfathoni commented on #324
Got it, I'm working on it at #537. 👌

[2021-08-01 01:57] #324 closed

[2021-08-01 05:59] #344 closed

[2021-08-01 06:54] resir014 opened #535 "Internal links in Isolasi Mandiri page opens in a new tab"
## Description

On the stacked links in Isolasi Mandiri page, links that are meant to be internal opens in a new tab instead of in the current one.

![image](https://user-images.githubusercontent.com/5663877/127762159-755e44e0-3f58-4ea6-86fc-9dd16f0f3f14.png)

## Expected Behaviour

Internal links (`e.g. FAQ`) should be opened in the same tab.

## Additional Information

The current implementation

[2021-08-01 07:23] resir014 commented on #209
Since all the tasks here have been completed, we can safely close this issue. 🎉

Do note that we still continue our effort to update the design system, since our design system shall also evolve to meet future needs. Any new issues + epics regarding to the design system shall be posted under the [`ui` label](https://github.com/kawalcovid19/wargabantuwarga.com/labels/ui).

[2021-08-01 07:23] #209 closed

[2021-08-01 08:31] zainfathoni commented on #535
I think an internal logic is better, since we can't rely too much on the Netlify CMS restrictions.

[2021-08-02 09:45] resir014 commented on #326
To make this implamentation easier (and to fully complete the homepage transition from gdocs/netlify CMS content), I'm going to implement an initial text page on Netlify CMS with content based on parts of the homepage:

![image](https://user-images.githubusercontent.com/5663877/127841073-10c350a4-9293-42f4-9299-c7956f8e5e25.png)

![image](https://user-images.githubusercontent.com/5663877/127841145

[2021-08-02 10:44] mazipan opened #544 "URL contain Google in Contact Detail Page"
## Description

Open https://www.wargabantuwarga.com/provinces/dki-jakarta/oksigen-isi-ulang-tabung-oksigen-jakarta-barat-3r-medika-gas-081286109493

Check the `href` from URL in "Kontak" and "Tautan"

It contains `https://www.google.com/url?q=`

Sample:

- `https://www.google.com/url?q=http://wa.me/6281286109493&sa=D&source=editors&ust=1627902606786000&usg=AOvVaw0Ou4V_199oMgGoMYp8FaAW`
- `https:/

[2021-08-02 10:51] mazipan commented on #321
All the tickets on homepage already closed, should we remove the old markdown content on the homepage also @zainfathoni
At least remove the section from homepage, and keep the markdown for a while.

Seems it's not available on the design.

![Screenshot_20210802-175033_Chrome](https://user-images.githubusercontent.com/7221389/127850512-3e6a2acf-f7ff-49e0-bb5d-4d95360a7350.jpg)

[2021-08-02 10:58] mazipan opened #545 ""Sampaikan masukan" in all pages"
## Description

We already create a link in the homepage to submit any discussion if the user found the bugs from our web.

But the visibility is very bad, it's only on the homepage which is quite long to be scrolled.

![Screenshot_20210802-174859_Chrome](https://user-images.githubusercontent.com/7221389/127850752-20c23f33-672f-4f16-bdfe-472a51306574.jpg)

## Implementation Model

My suggestion is

[2021-08-02 11:43] #483 closed

[2021-08-02 12:14] zainfathoni commented on #545
Agreed. I think it's better if we can make it a part of our layout that appears on every page.

Currently, we have no proper footer for the page that contains the Copyrights and other relevant information, including our GitHub repository.

[2021-08-02 12:42] resir014 commented on #395
@ekafyi We should probably expedite this issue with #515 now in progress. We should allow content writers to easily upload images to our Cloudinary account.

How long do you think this can be implemented? (cc: @zainfathoni)

[2021-08-02 12:59] #535 closed

[2021-08-02 22:39] zainfathoni opened #548 "Revert back to sembako.wargabantuwarga.com"
## Description

The sembako.wargabantuwarga.com website is up again and the stakeholders want us to revert the link back to it again.

## Context

The same subdomain would go live again actually but in a static page form.
But yeah, for now, we have to update the URL not to go to a blank page. 😅

__Originally posted by @zainfathoni in https://github.com/kawalcovid19/wargabantuwarga.com/issues/516#i

[2021-08-03 01:58] #548 closed

[2021-08-03 03:20] zainfathoni commented on #321
Let me discuss it first with Mas @ardiwilda, the head of the content team.

[2021-08-03 04:00] zainfathoni commented on #321
At #552, Mas @ardiwilda just removed the unnecessary sections on the home page.

However, for the remaining sections, we still need them out there until we implement #327, #328, and #329 pages and integrate them with Netlify CMS properly.

## Reference

[Slack thread link](https://kawalcovid19.slack.com/archives/C029KS7SWSJ/p1627962580004600?thread_ts=1627960941.002400&cid=C029KS7SWSJ)

<img width

[2021-08-03 04:16] zainfathoni commented on #101
@resir014 @mazipan, do you think the [Projects](https://github.com/kawalcovid19/wargabantuwarga.com/projects) are still useful or not?
I doubt their usefulness.

1. Our [Kanban Board](https://github.com/kawalcovid19/wargabantuwarga.com/projects/1) is rendered useless when the actual signal of an **in progress** work is based on the existence of any **Draft Pull Requests** linked to the issues.
2.

[2021-08-03 14:54] ekafyi commented on #395
An <abbr title="minimum viable product">MVP</abbr> implementation should be quick to implement. I can finish it by tomorrow. Then we can improve/iterate from there. @resir014 @zainfathoni

[2021-08-04 04:10] ekafyi commented on #395
Need help deciding integration option.

## (1) In Markdown widget WYSIWYG editor

### Don't apply any customization
Not recommended, it will return original uncompressed image

### Option A: Let users apply transformation manually from the CMS

![Screen Shot 2021-08-04 at 09 48 32](https://user-images.githubusercontent.com/6597211/128120620-08c0597a-1329-41e2-b8e6-bc8eff9b3e5d.png)
![Screen Shot 2

[2021-08-04 11:06] mazipan opened #561 "Provide favicon without text"
## Description

Our icon on the repo ([see this image](https://github.com/kawalcovid19/wargabantuwarga.com/blob/main/public/wbw.png)) is have a text on the bottom of the icon.

IMO, favicon is better without any text, it also looks weird on the small pixel like in the Google Search Result.
It looks like we have a black line since the text is not readable.

### Assets

[Logo Assets](https://drive.g

[2021-08-04 13:45] zainfathoni commented on #561
I just added the link to the [Logo Assets](https://drive.google.com/drive/folders/1bfdW3SLk59XeNOr8txiEzHXljhGMwaYX). Let me know if anybody trying to work on this issue can't access them.

[2021-08-04 15:40] ekafyi commented on #395
Update: Going with Option C (details above) for now. We can always change if/as needed. :)

[2021-08-05 03:35] resir014 commented on #395
Yep, let's go with C. Let's use as much code-level transformation as possible to make it easier for our content writers. @ekafyi

[2021-08-05 03:56] ekafyi commented on #395
It's done @resir014 @mazipan , I just have no idea how to test this part 😅

https://github.com/kawalcovid19/wargabantuwarga.com/blob/6c7577d16107c1ef0cc1ef5b81d9ce86ae34e6ae/lib/htmr-transformers.tsx#L87-L106

Can't use `render` from `@testing-library/react` on the `img` function nor the whole `<div>{htmr(<h1>hello world</h1>, { transform: htmrTransform })}</div>`

[2021-08-05 09:07] #544 closed

[2021-08-05 11:14] zainfathoni commented on #395
Let me try to help you with the testing parts tonight, @ekafyi, since I'm the 🧪  test toaster 🍞. 😆

[2021-08-05 11:16] #325 closed

[2021-08-05 12:19] ekafyi commented on #395
yay, awesome, thanks @zainfathoni !

I still need to refactor this a little though, since I just found out the `Image` component is not suitable for images inside the Markdown body. If it still fails when I deploy, I'll @ you for help  🍞..

[2021-08-05 14:02] #561 closed

[2021-08-05 14:12] mazipan commented on #329
@syauqy how is the progress?
I don't see any open PR related this ticket?

Since it's in our high priority board, maybe we can accelerate the progress.

[2021-08-05 14:23] syauqy commented on #329
Hi @mazipan, sorry I haven't work on it.
I thought it will be taken by Mas Resi. So, I worked on #515.
If it's okay, I will start working on this issue.

[2021-08-05 15:45] mazipan commented on #329
About the broken link, can we get a confirmation @zainfathoni ?

[2021-08-05 16:17] zainfathoni commented on #329
For the broken links, we're not supposed to show them anymore, because the campaign has ended.
FYI @syauqy, if you want to work on it.

[2021-08-05 16:52] syauqy commented on #329
Sure mas @mazipan  @zainfathoni, I'll add a PR soon. 🙏
Looks like the broken link is removed from the excel list.

[2021-08-05 17:38] #395 closed

[2021-08-05 17:51] ekafyi commented on #395
Welp, I enabled "auto-merge" and it merged to main on check completion because it had an existing approval which I was not aware of. 😬

Everything seems ok as far as I could check—feel free to recheck, anyone.

We've got ✨ proper image integration ✨ in the CMS now!

![Screen Shot 2021-08-06 at 00 48 01](https://user-images.githubusercontent.com/6597211/128397408-c3436588-8b54-4921-ba1b-e1d23070e30

[2021-08-05 17:56] ekafyi opened #569 "Document how to add and work with images"

[2021-08-05 23:14] ramarahmanda opened #570 "Add "buka peta" button in province list"
## Description

I feel that _alamat_ shortcut is inconsistent we can open map in detail but not in the list. Also it can benefit user to suitable location to fasten their search without have go to detail page

Detail
![image](https://user-images.githubusercontent.com/12446260/128432938-72928c4f-5ff8-4162-a111-c56d3e8d71c0.png)

List
![image](https://user-images.githubusercontent.com/12446260/12843

[2021-08-06 03:57] ekafyi opened #572 "Improve text colour contrast to improve accessibility"
## Description

Several text/link elements in our Home page have low colour contrast:
- "Informasi Terbaru" dates
- "Informasi Terbaru" CTA (eg. _"Daftar vaksin Sinergi Sehat"_)
- Whatsapp contact CTA

See: ["Accessibility" section in the Lighthouse Report](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fwww.wargabantuwarga.com%2F#accessibility)

## Expected Behaviour

[2021-08-06 04:38] resir014 opened #573 "Incorrect copywriting on Database CTA"
## Description

On the Database CTA, the copywriting for the button is written as "Cek sekarang", where it should've been "Telusuri sekarang"

## Expected Behaviour

![image](https://user-images.githubusercontent.com/5663877/128456730-e69d900c-e695-4922-972d-5997716436bd.png)

[2021-08-06 08:22] morezam commented on #573
Hi, can I work on this?

[2021-08-06 08:26] resir014 commented on #573
@morezam sure!

[2021-08-06 15:03] resir014 commented on #321
@zainfathoni What I think we can do do now is to remove the "last updated" alert, since we already have those in the Informasi Terbaru section. What do you think about that?

[2021-08-07 06:26] #224 closed

[2021-08-07 11:53] mazipan opened #581 "Total count showing a wrong number when query param kebutuhan exist"
## Description

- Open: Homepage > Klik "Donor Plasma"
  -  Or, just visit: https://www.wargabantuwarga.com/provinces?kebutuhan=Donor%20plasma directly
- "DKI Jakarta" show **459 Entry**
- But when you click it, it only have **4** data for "Donor Plasma"

![Screenshot_20210807-185421_Chrome](https://user-images.githubusercontent.com/7221389/128599259-7bba278e-92e1-4852-9095-bca492f65212.jpg)

## E

[2021-08-07 11:54] abui-am commented on #83
Any progress in this issue?

[2021-08-07 11:56] mazipan commented on #83
Not yet mas @abui-am, do you wanna help on this?

[2021-08-07 12:00] mazipan commented on #22
Do we still want to install Sentry @zainfathoni?

[2021-08-07 12:10] abui-am commented on #83
Sure @mazipan , I'll take a look 😃

[2021-08-07 12:15] mazipan opened #583 "Font size on label filters are not same with the search label"
## Description

The font size from the labels are not consistent, the search seems have a smaller font size.

Sample page:

https://www.wargabantuwarga.com/provinces/dki-jakarta

The size for word "Cari Kontak" is not same with "Kategori" & "Lokasi"

See screenshot:

![Screenshot_20210807-191232_Chrome](https://user-images.githubusercontent.com/7221389/128599750-e4490114-b9a2-463a-b6ba-8968364bc4f

[2021-08-07 13:44] resir014 commented on #583
@mazipan There's also `FormLabel` component, we should use it across all form elements.

https://github.com/kawalcovid19/wargabantuwarga.com/blob/main/components/ui/forms/form-label.tsx

[2021-08-07 13:57] zainfathoni commented on #22
If we can do it without hurting the web performance, yes. But if not, I think we can forego it for now. 😅

[2021-08-07 15:15] abui-am commented on #83
Quick question mas @mazipan ,
where is the FAQ page?

![image](https://user-images.githubusercontent.com/50738961/128604933-f30c8abb-1736-41d3-b245-769f7de43b7a.png)

Is this the FAQ page?

[2021-08-07 22:21] mazipan commented on #83
https://www.wargabantuwarga.com/faq mas @abui-am

[2021-08-08 05:55] #572 closed

[2021-08-08 05:56] mazipan commented on #570
Do we want to work on this @zainfathoni?

[2021-08-08 06:09] mazipan opened #584 "Address and Copy Button are too close"
## Description

Open: https://www.wargabantuwarga.com/provinces/dki-jakarta

The Address and the Copy Button are too close for some data.
I think we need to set more space between these two elements.

![Screenshot_20210808-130614_Chrome](https://user-images.githubusercontent.com/7221389/128622579-bb6f6de1-5eea-480b-bfd4-db8398255b51.jpg)

## Expected Behaviour

Have enough space between copy butto

[2021-08-08 10:16] zainfathoni commented on #321
I'm still checking it out with Mas @ardiwilda.

[2021-08-08 10:19] zainfathoni commented on #570
I think it's a good point to make the actions more consistent.
I'm fine with it as long as the behaviours are identical.

[2021-08-08 11:29] mazipan commented on #569
Should based on this gist, if anyone want to help on this issue

https://gist.github.com/ekafyi/1a86987c111a96976309c12f047d43a9

[2021-08-08 11:33] #570 closed

[2021-08-08 11:36] adylanrff commented on #583
Hi, can I work on this?

[2021-08-08 11:54] fauzialz commented on #584
Hello, mas. Could I work on this ticket?

[2021-08-08 12:04] #573 closed

[2021-08-08 12:04] zainfathoni commented on #584
Yes, please raise a draft pull request soon, @fauzialz, thanks! 🙏

[2021-08-08 12:05] adylanrff commented on #583
After looking at the code, I think both `SearchForm` and `SearchFilter` have already used the `FormLabel` component for the label.

[2021-08-08 12:32] nasrulgunawan commented on #545
Hai Mas, could I work on this ticket?

*I've never worked on a React project, but I've tried web components and Tailwind, may I try (while I'm learning)?

[2021-08-08 12:34] fauzialz commented on #584
Hallo mas @zainfathoni. I checked the code and it seems that the issue has been fixed by this change #571. The changes gave 0.5rem spacing on the copy button. I don't know if this is still a valid issue or not.

![image](https://user-images.githubusercontent.com/42629134/128632123-c3e1fb47-b73b-4add-9d18-a6f846ad5ffe.png)

[2021-08-08 12:51] fauzialz commented on #584
I check the production app too. I think this issue is solved. cc: @mazipan

[2021-08-08 13:07] rubiagatra commented on #509
Can I help with the testing? @zainfathoni is this something like this? https://stackoverflow.com/questions/57827126/how-to-test-anchors-href-with-react-testing-library

[2021-08-08 13:10] mazipan commented on #584
Checking it...
Since I open it before the PR merged 😂

[2021-08-08 13:11] mazipan commented on #584
Ah yes, I think this is going to `invalid` now

[2021-08-08 13:12] #584 closed

[2021-08-08 13:16] mazipan commented on #545
Please try to take a look the code and run on your local first, if you think you can work on this, then please take it.

[2021-08-08 13:16] zainfathoni commented on #509
Yes, exactly. We have exactly the same implementations across our test scenarios, but they're not implemented in all of them.

Therefore, please help us to implement them, especially in the tests where we're only relying solely on the snapshots.

Thanks, @rubiagatra! 🙏

[2021-08-08 13:29] zainfathoni commented on #545
Agreed. Once you're able to set this project up locally in your machine, you can start creating a draft pull request to signal other developers that you're currently working on it.
Please read [our contributing guide](https://kcov.id/wbw-contributing) for more complete guidelines.

[2021-08-08 13:45] nasrulgunawan commented on #545
Well noted Mas @mazipan, Mas @zainfathoni.
I will try to create a draft pull request first.

[2021-08-08 13:51] adylanrff commented on #583
Hi @mazipan need your input here, since the font size is actually already the same, is this issue still relevant?

[2021-08-08 13:58] mazipan commented on #583
Wdyt?

![Screenshot_20210808-205732_Chrome](https://user-images.githubusercontent.com/7221389/128634502-6d582b97-a2e2-4ff2-8282-0cff7edf174b.jpg)

[2021-08-08 14:11] adylanrff commented on #583
Yeah that looks different ya,

For a comparison
IPhone 12 mini (IOS 14.7.1) using Safari

![image](https://user-images.githubusercontent.com/19769774/128634915-0724be28-74f7-452e-98dc-fdb86fe7d4c9.jpeg)

[2021-08-08 14:17] mazipan commented on #583
Arghhh, it's hard.
A spesific browser/device issue 😤

[2021-08-08 14:52] resir014 commented on #374
Friendly reminder that this issue **need to be expedited** due to the reasons mentioned in https://github.com/kawalcovid19/wargabantuwarga.com/issues/197#issuecomment-886702751:

cc: @zainfathoni @mazipan @ekamuktia @famasya

[2021-08-08 15:01] mazipan commented on #374
I just don't think we need this kind of Search Library in the front-end 😂
But ya, from our previous decision we will go with the TypeSense.
Can we accelerate the progress?

[2021-08-08 15:05] resir014 commented on #374
Current progress is in #401 and #540. But unfortunately progress on these has kind of stagnated for a bit.

[2021-08-08 15:06] mazipan commented on #374
We need to deliver one page, at least for a pilot.

[2021-08-08 15:13] hanihusam opened #590 "The Footer Navigation Overlaps The Tab Bar in Safari 15"
## Description

When the user scrolls the page, the footer navigation overlaps the tab bar in Safari 15.

Default
![Default](https://user-images.githubusercontent.com/25399426/128636444-64012ee9-59e1-4e2f-984f-ef1eb02c800c.jpeg)

User Scrolls
![photo_2021-08-08 21 57 44](https://user-images.githubusercontent.com/25399426/128636512-310a62b6-4dce-47d9-91a8-5633c124afe8.jpeg)

#FYI Safari 15 has new

[2021-08-08 15:40] ekamuktia commented on #374
Sorry, I wasn't feeling well so I coudn't work on it. Just pushed #401 update.
Basic feature is done, but I still have some problems on the setting & testing.

First, for the setting as I mentioned here https://github.com/kawalcovid19/wargabantuwarga.com/pull/401#issuecomment-888246450

And for testing, since the data is from index, mock data can't be initialized and passed as props. Tried to find

[2021-08-08 15:48] mazipan commented on #374
I think we need to add more developer to help @ekamuktia.

@zainfathoni can you help on the testing part once we get a full flow?

I will try to take a look the PR tomorrow, looking if I can help on this 😂

[2021-08-08 16:18] Widi-ps opened #591 "Typo in the word "hinggu" which should be "hingga""
[
![Screenshot_2021-08-08-22-57-23-82](https://user-images.githubusercontent.com/69189062/128638547-6e0ccd84-631f-422f-adcc-6177eba6a064.png)
](url)

[2021-08-08 16:56] krisnafirdaus commented on #591
<img width="610" alt="Screen Shot 2021-08-08 at 23 55 29" src="https://user-images.githubusercontent.com/67870639/128639505-a4096200-6d92-419f-a840-c19cca4ffe77.png">
like this ?

[2021-08-08 17:05] Widi-ps commented on #591
yup, maybe you can pull it out? because I see in the browser is still the same
![image](https://user-images.githubusercontent.com/69189062/128639720-a976f845-c26e-4329-928e-9558bb7399f4.png)

[2021-08-08 17:11] krisnafirdaus commented on #591
in this file have ignore when i push code. please let me know how to push code ? @zainfathoni

[2021-08-08 19:08] bungandy commented on #583
Iya mas @mazipan they are fine on Chrome iOS 14 iPhone 7. Try to change the word Cari kontak -> Cari Kontak maybe? The small k character makes the word looks smaller then the other to me 😁

[2021-08-08 20:55] #509 closed

[2021-08-08 20:59] zainfathoni commented on #374
Sure, I'll try to unblock the testing part later today. 👌
Thanks, Mbak @ekamuktia for implementing it this far. 😁🙏

[2021-08-08 21:03] zainfathoni commented on #591
It's only editable from our [Google Spreadsheets file](https://kcov.id/faq-sheets). I'll let Mas @ardiwilda know, he manages our data on the spreadsheets.

[2021-08-09 02:09] zainfathoni commented on #591
<img width="591" alt="Screenshot 2021-08-09 at 10 08 32" src="https://user-images.githubusercontent.com/6315466/128653908-75dbdb41-106b-4dba-8860-39b002d03a92.png">

The typo has been fixed. Thanks, @Widi-ps for reporting the issue. 🙏

[2021-08-09 02:09] #591 closed

[2021-08-09 02:09] zainfathoni commented on #591
@all-contributors please add @Widi-ps for bug.

[2021-08-09 02:19] zainfathoni commented on #321
Let's remove the "last updated" alert on the home page.
[I have gotten the confirmation](https://kawalcovid19.slack.com/archives/C029KS7SWSJ/p1628473595000100?thread_ts=1628417748.001400&cid=C029KS7SWSJ) that we don't need the "last updated" alert anymore.

<img width="469" alt="Screenshot 2021-08-09 at 10 17 58" src="https://user-images.githubusercontent.com/6315466/128654291-c0015e27-ce49-4e36-a

[2021-08-09 02:19] zainfathoni opened #598 "Remove the "last updated" alert on the home page"
Let's remove the "last updated" alert on the home page.
[I have gotten the confirmation](https://kawalcovid19.slack.com/archives/C029KS7SWSJ/p1628473595000100?thread_ts=1628417748.001400&cid=C029KS7SWSJ) that we don't need the "last updated" alert anymore.

<img width="469" alt="Screenshot 2021-08-09 at 10 17 58" src="https://user-images.githubusercontent.com/6315466/128654291-c0015e27-ce49-4e36-a

[2021-08-09 02:27] mazipan opened #599 "Entry point for Donasi Page"
## Description

Related with issue #329 in PR #568, we need to add entry point to the Donasi page after the PR being merged.

1. Add link on hamburger menu
2. Add new icon on the homepage

## Implementation Model

Icon in homepage:

![Screen Shot 2021-08-09 at 09 25 27](https://user-images.githubusercontent.com/7221389/128654620-938e0ddc-927c-4a90-b16b-3303d01fa198.png)

SVG:

[code]

On hamburger

[2021-08-09 02:33] mazipan commented on #321
![Screen Shot 2021-08-09 at 09 33 03](https://user-images.githubusercontent.com/7221389/128654996-81e103d4-c6fd-40f7-8d9e-53ce0239c211.png)

How about remove this one also @zainfathoni?

[2021-08-09 02:41] zainfathoni opened #600 "Display the new `Ketersediaan` field from the database"
## Description

From now on, our database team has dedicated volunteers to update the availability of COVID-19-related services, such as **Oksigen**, **Tempat Isoman**, **Bantuan Kebutuhan Pokok**, and **Tempat Vaksin**.

We need to reflect the values from the last column (`Ketersediaan`) in the [database sheets](https://kcov.id/wbw-sheets) into our `Province` and `Contact` pages.

### Additional

[2021-08-09 02:44] resir014 commented on #590
Unfortunately Tailwind doesn't support `env(safe-area-inset-bottom)` yet. Until then, there's nothing we can do about it, unless we add a `@layer components` rule with a helper class which adds this.

[2021-08-09 02:50] ekafyi commented on #569
Bad news: That gist is outdated.

Good news: It's even more simple now since Cloudinary has been integrated to Netlify CMS. This issue is mostly to remind myself to update that gist. 😁

[2021-08-09 02:56] zainfathoni commented on #321
I just notified Mas @ardiwilda that we have implemented that page and he will remove the section ASAP.
Thanks for noticing it, Mas @mazipan!

[2021-08-09 03:05] ryanadhi commented on #599
Hi @mazipan and @zainfathoni , I may try to create PR for this Donation page, but what is the route (`href`) for that page?

[2021-08-09 03:11] mazipan commented on #599
`/donasi`, this ticket should be taken after #568 being merged.
We still have some small comments on the PR #568, but you can work on this now.
We will merge later

[2021-08-09 03:11] mazipan commented on #599
`/donasi`, this ticket should be taken after #568 being merged.
We still have some small comments on the PR #568, but you can work on this now.
We will merge later

[2021-08-09 03:56] antoooks commented on #598
Hi mas @zainfathoni can I take this one?

[2021-08-09 04:02] abui-am commented on #83
I have some problems here, I noticed most of our FAQ page information is general information.
while in the report form, we need to report wrong information "Province" and "Location",
this might confuse our user, should we create another form?

[2021-08-09 04:04] abui-am commented on #83
I don't think we can report this
![image](https://user-images.githubusercontent.com/50738961/128659199-978f1e8c-9f2a-40d0-8de9-8f560e22871b.png)

In the current form
![image](https://user-images.githubusercontent.com/50738961/128659213-f2dc87f5-e250-47a4-a7d4-5223876184e5.png)

[2021-08-09 04:30] ryanadhi commented on #599
I got these 2 failed while testing.

Adding the menu on homescreen, then modification on the test to match with the html. But still not passed
![Screenshot 2021-08-09 112024](https://user-images.githubusercontent.com/35433920/128660185-24ce8367-9f8a-4239-9d99-3a8427392aae.png)

Due to modification on the homepage, this test also ran and got failed. I am assuming this is caused by the date generate

[2021-08-09 04:48] mazipan commented on #598
As usual, create a draft PR to tell all contributors that someone already working on this issue

[2021-08-09 06:09] resir014 opened #605 "Security improvements"
## Overview

This is a master issue to track all security-related improvements to WBW.

Currently the WBW website is still missing some essential security headers, as detected by [securityheaders.com](https://securityheaders.com/?q=https%3A%2F%2Fwww.wargabantuwarga.com%2F&followRedirects=on)

![image](https://user-images.githubusercontent.com/5663877/128665607-14df3366-a57d-4576-9e4c-303b6582c87c.

[2021-08-09 07:04] mazipan commented on #321
We miss to create ticket for "Konseling Page" @zainfathoni

Google Sheet: https://docs.google.com/spreadsheets/d/1JRlBNwmqoVimwR70dwIVJ1QAnBbC0Mqp0DmomeO0cWU/edit#gid=0

[2021-08-09 07:36] resir014 opened #608 "Prevent clickjacking with `X-Frame-Options: DENY` header"
## Description

The `X-Frame-Options` header tells the browser whether you want to allow your site to be framed or not. By preventing a browser from framing your site you can defend against attacks like clickjacking.

More info: https://scotthelme.co.uk/hardening-your-http-response-headers/#x-frame-options

## Implementation Model

[Click here](https://nextjs.org/docs/api-reference/next.config.js/

[2021-08-09 07:36] resir014 opened #609 "Prevent content type sniffing with `X-Content-Type-Options: nosniff` header"
## Description

The `X-Content-Type-Options` header stops a browser from trying to MIME-sniff the content type and forces it to stick with the declared content-type. The only valid value for this header is `X-Content-Type-Options: nosniff`.

More info: https://scotthelme.co.uk/hardening-your-http-response-headers/#x-content-type-options

## Implementation Model

[Click here](https://nextjs.org/doc

[2021-08-09 07:36] resir014 opened #610 "Add a `Permissions-Policy` header to disallow features that we don't use"
## Description

The `Permissions-Policy` header is a new header that allows a site to control which features and APIs can be used in the browser. This is good to prevent attackers to maliciously insert features (e.g. camera, geolocation) that the app doesn't need.

More info: https://scotthelme.co.uk/goodbye-feature-policy-and-hello-permissions-policy/

## Implementation Model

[Click here](https:

[2021-08-09 07:36] resir014 opened #611 "Add a `Content-Security-Policy` header to prevent cross-site scripting (XSS) attacks"
## Description

[Content Security Policy](https://scotthelme.co.uk/content-security-policy-an-introduction/) is an effective measure to protect our site from XSS attacks. By allowlisting (whitelisting) sources of approved content, we can prevent the browser from loading malicious assets.

## Implementation Model

In this process, first we will need to add an allowlist (whitelist) to every single e

[2021-08-09 09:23] resir014 commented on #321
Alright, let's create a new issue for this. @zainfathoni

[2021-08-09 09:41] zainfathoni commented on #321
I have created the issue at #598 and I think it has been closed. 😁🚀

[2021-08-09 09:52] zainfathoni commented on #598
This issue is not done yet because the last PR reduced the home page's code coverage unnecessarily.

https://github.com/kawalcovid19/wargabantuwarga.com/pull/604#pullrequestreview-725197608

[2021-08-09 09:57] ichadw commented on #335
hi all first of all please let me contribute in this ya,

@ekamuktia what suggestion you might have for the meta description when it has the params?

default description is: `Informasi seputar COVID-19 dan kontak fasilitas/alat kesehatan di Provinsi DKI Jakarta yang dikumpulkan relawan melalui pencarian di internet atau media sosial.`

so for example URL is `https://www.wargabantuwarga.com/provinc

[2021-08-09 10:01] antoooks commented on #598
I can fix it. So I have to make sure if the said component is not rendered?

[2021-08-09 10:03] zainfathoni commented on #83
I think need a new Google Form here, let me ask Mas @ardiwilda to prepare it.

[2021-08-09 10:10] ekamuktia commented on #335
@ichadw I think suggested meta descriptions are good.

What do you think @zainfathoni? Is it okay to exclude "seputar COVID-19 dan kontak fasilitas/alat kesehatan" part on meta description? I think it's okay since it makes the description simpler, clear and shorter.

It'll be helpful if we can get some top keywords from google search console to get better idea about the keywords though

[2021-08-09 10:14] zainfathoni commented on #598
While you're at it, please also fix the way we're querying and asserting the components, as I have explained in https://github.com/kawalcovid19/wargabantuwarga.com/pull/604#pullrequestreview-725215702.

Thanks, @antoooks! 🙏

[2021-08-09 10:31] maziyank opened #613 "Some Long Address Overflow"
## Description

Very long address should not be overflow like this.
Two close **salin** button made me confusing. Suppose to be different.

![wargabantuwarga2](https://user-images.githubusercontent.com/3317904/128692882-a814a904-cb2d-4e60-a77a-5ee1a7fd0149.gif)

## Tasks

- [ ] (fix adress overflow)
- [ ] (improve close salin button)

[2021-08-09 11:22] ichadw commented on #335
I also just found out that the province page is using SSG instead of SSR, hence I can't get the query params on build time, any suggestion @zainfathoni @mazipan ?

[2021-08-09 12:25] apraditya commented on #318
@zainfathoni, now that #319 is merged & closed, is there anything else left to be done for this issue?

[2021-08-09 12:57] mazipan commented on #335
Our infra not using Vercel but Netlify, that's why we choose to export as a static, not using the SSR.

Yap, SEO might be very problematic in this case.

Actually I wanna #486 to be solve first to get a better path structure.
At least we get the "kebutuhan" part (or the "Kategori" in FAQ)

But that's not easy, our current search experience also problematic and it  have a big PR that still not fini

[2021-08-09 15:52] apraditya commented on #482
Do we know the email / URL to use as the Contact?

[2021-08-10 01:58] fadillicious commented on #613
Hi mas @maziyank and @zainfathoni, I'm new in this project but I interest to contribute.

## Problem
I found problem address overfrow from source data `~/data/wbw-sheets.json`, in address string have tag html

<img width="955" alt="Screen Shot 2021-08-10 at 08 33 12" src="https://user-images.githubusercontent.com/10627998/128796579-9d279460-1b49-4aad-bdc6-dc4cacd682e2.png">

<img width="721" alt="

[2021-08-10 02:15] andriawan commented on #318
I think it could be taken mas @apraditya

[2021-08-10 02:32] maziyank commented on #613
That make sense @fadillicious.
But instead of calling same function `stripTags(contact.alamat)` 3 times, any other way to make it more efficient?

[2021-08-10 02:36] apraditya commented on #318
I don't quite get it @andriawan. Do you think we can close this issue?

[2021-08-10 03:08] #608 closed

[2021-08-10 03:08] #609 closed

[2021-08-10 03:33] andriawan commented on #318
I think adding this infromation to documentation is quite important for new comer as i found several contributors is not quite familiar with forking mechanism

[2021-08-10 03:40] mazipan commented on #326
![Screen Shot 2021-08-10 at 10 39 42](https://user-images.githubusercontent.com/7221389/128804782-8a266ae3-b347-4125-946e-31b321b0228c.png)

Which URL should be used from this button @zainfathoni?

[2021-08-10 04:03] fadillicious commented on #613
Thank mas @maziyank for your response.

htmr function from existing code, in this case I only add `stripTags`.

Based on your input, maybe I can change code like this?

1. I create `contactAddress` variable with stripTags
<img width="781" alt="Screen Shot 2021-08-10 at 10 58 54" src="https://user-images.githubusercontent.com/10627998/128806265-10291fc2-7268-427d-a327-ff52b8e3f86f.png">

2. then I

[2021-08-10 04:32] resir014 opened #624 "Finalise page layout cleanups"
## Description

Refactor all page components to closely follow the Figma guidelines.

[2021-08-10 04:33] baraeb92 commented on #326
We can use this link as we do in homepage @mazipan https://kcov.id/wbw-discuss

[2021-08-10 04:51] mazipan commented on #326
Help to completing all the Logos on the Figma @baraeb92

[2021-08-10 07:08] baraeb92 commented on #326
What are the logos that are still missing ya mas @zainfathoni ? do we miss anyone on the WBW?

[2021-08-10 08:14] #329 closed

[2021-08-10 09:27] mazipan commented on #321
We can remove this part from Homepage @zainfathoni.
The new page already merged

![Uploading Screen Shot 2021-08-10 at 16.25.20.png…]()

[2021-08-10 09:31] #326 closed

[2021-08-10 09:32] mazipan opened #627 "Complete all logos on About Page"
## Description

See on Figma https://www.figma.com/file/XNNtIoFEdFqaXOee83n0oN/WBW?node-id=458%3A1634
Live on https://www.wargabantuwarga.com/tentang-kami

We have uncomplete Collaborators Logos.

![Screen Shot 2021-08-10 at 16 31 02](https://user-images.githubusercontent.com/7221389/128844003-a22197d2-0fc1-41e0-aa39-b79259fa36d0.png)

## Expected Behaviour

We have logo for all the data as we hav

[2021-08-10 09:35] mazipan commented on #326
Opening new issue on #627 @baraeb92

[2021-08-10 09:40] resir014 commented on #624
Now unblocked thanks to #616 being merged. 🚀

[2021-08-10 11:05] resir014 commented on #482
@apraditya I don't know yet. Pinging the rest of @kawalcovid19/wbw.

[2021-08-10 11:24] iamyuu opened #629 "Dialog title with the close button doesn't have the same margin"
## Description

Dialog title with the close button doesn't have the same margin

<img width="533" alt="Screen Shot 2021-08-10 at 18 01 11" src="https://user-images.githubusercontent.com/45778229/128855677-c105462c-fc39-476e-8a9d-391f7a3f8c10.png">

## Expected Behaviour

Dialog title with the close button has same margin

<img width="430" alt="Screen Shot 2021-08-10 at 17 59 56" src="https://user-

[2021-08-10 12:16] zainfathoni commented on #83
What's your Gmail address, @abui-am?
The form is ready, I can invite you as an editor so you can start working on it. 😁

[2021-08-10 12:46] zainfathoni opened #632 "Add GitBook as a supporter into README.md file"
## Description

We just got a free unlimited license from [GitBook](https://www.gitbook.com) for our WargaBantuWarga organization!
[This is one of our docs hosted on GitBook](https://app.gitbook.com/@wargabantuwarga/s/yatim-warisan/), more docs are coming!

To express our gratitude and spread the word about their support, we would like to attribute them as one of our supporters in our README.md fi

[2021-08-10 13:01] #599 closed

[2021-08-10 13:48] dekwahdimas commented on #627
Hi, can you please upload these logos to Netlify CMS? I don't have any access to it so I can't upload it myself. I may upload them to my private Cloudinary first but I don’t think I have to since wargabantuwarga already have its own account. Thank you.

**Baznas**
![baznaz](https://user-images.githubusercontent.com/56619123/128877336-0ff01b0b-b180-414d-8b47-d35dc917d6c4.png)

**pandemictalks**
![p

[2021-08-10 13:49] mazipan commented on #627
@resir014 help to upload it, and provide the Cloudinary URL to me.
I will help to update from the CMS

[2021-08-10 14:42] adylanrff commented on #583
yeah @bungandy I thought so too, but changing `Cari kontak` --> `Cari Kontak` means changing other components that uses `SearchForm` component too, which may not be intended.

[2021-08-10 15:03] mazipan commented on #583
It should keep to use "Cari kontak".
I will close this issue for now ya 🙏

[2021-08-10 15:03] #583 closed

[2021-08-10 17:33] abui-am commented on #83
@zainfathoni Here is my email, adjiem31@gmail

[2021-08-11 02:15] iamyuu commented on #327
Where can I get the items and sub-items?

[2021-08-11 02:38] #632 closed

[2021-08-11 02:56] #610 closed

[2021-08-11 03:31] #629 closed

[2021-08-11 04:05] #545 closed

[2021-08-11 04:23] mazipan commented on #327
For the UI, I suggest to wait the #628

[2021-08-11 04:38] mazipan opened #637 "SW activation and cache static files"
## Description

We have some static files those safe to be cache on the client side.

## Implementation Model

We can use [next-pwa](https://github.com/shadowwalker/next-pwa)

To be cache:

- All hashed CSS and JS - StaleWhileRevalidate/CacheFirst
- All Cloudinary image - CacheFirst with 30d expiry

DO NOT cache any HTML files

## Tasks

- [ ] Install `next-pwa`
- [ ] Add the next-pwa configuratio

[2021-08-11 05:07] mazipan opened #638 "Add more page on Web Perf Check Action"
## Description

Currently, we only test homepage on the LH-CI.
Maybe we can start to add another important pages.

The candidates:

- https://www.wargabantuwarga.com/faq
- https://www.wargabantuwarga.com/provinces
- https://www.wargabantuwarga.com/tentang-kami
- https://www.wargabantuwarga.com/donasi

## Implementation Model

Update `lighthouse-ci.yml` and `lighthouse-ci-prod.yml`.

The `--url` ar

[2021-08-11 05:13] mazipan opened #639 "Explain about Netlify CMS"
## Description

Explain how to start to use, how to update/add some configuration.

[2021-08-11 05:38] #611 closed

[2021-08-11 09:13] mazipan opened #640 "Install ImgBot App"
## Description

We can auto compress all images in the repository with ImgBot.

## Tasks

- [x] Install GH App [ImgBot](https://github.com/marketplace/imgbot/plan/MDIyOk1hcmtldHBsYWNlTGlzdGluZ1BsYW4xNzQ5#pricing-and-setup)
- [x] Allow for WargaBantuWarga repo (feel free to give access to all repo)

[2021-08-11 10:07] resir014 commented on #605
![image](https://user-images.githubusercontent.com/5663877/129010905-20a7410a-25ca-43af-915d-1ae31ad95af5.png)

Thanks to the changes implemented here, our security score is now at A. 🎉

However, we still need to implement proper security vulnerability reporting measures, as dictated by #482. Please direct all attentions for this epic to that issue from now on.

[2021-08-11 12:52] #624 closed

[2021-08-11 13:23] nkristoporus commented on #581
Hi @mazipan, I have done a little bit of investigation on this particular issue. I found out that the issue is because this page is using unfiltered data from `~/data/wbw-sheets.json` which contains all information including Rumah Sakit, Donor Plasma, Ambulans, and others. I can do a quick fix to resolve the issue with the current query param, but if you want to wait for #486 that's fine as well.

[2021-08-11 13:38] mazipan commented on #581
Yeah, we can do a quick fix for now.
It's a big task if we want to take a proper steps in the current situation.

[2021-08-11 13:41] nkristoporus commented on #581
Yeah, I will work on this. Thanks :pray:

[2021-08-11 13:54] mazipan opened #642 "Add kontribusi icon on homepage"
## Description

![Screenshot_20210811-205227_Chrome](https://user-images.githubusercontent.com/7221389/129041573-376d6052-0914-4b21-844d-1279a2658589.jpg)

Link goes to: https://www.indorelawan.org/activity/60e2ed45164da80018b0e246

## Figma

https://www.figma.com/file/XNNtIoFEdFqaXOee83n0oN/WBW?node-id=485:2485

## Tasks

- [ ] Add new icon on homepage
- [ ] Add testing

[2021-08-11 15:37] suryavip commented on #642
Hello, first-timer here. Can you clarify whether the link need to be opened on new tab (like existing link on "Cara Berkontribusi") or not?
![image](https://user-images.githubusercontent.com/28729285/129059436-ad65b330-8c1d-47da-8f23-692f5e80a9a9.png)

[2021-08-11 15:43] hariangr opened #644 "Add documentation about Husky, commitlint"
While trying to create my first commit to the repo, git scream type-empty and subject-empty error, turned I was trying to commit to main branch

I believe there should be some info about how to format a commit message and more emphasis on creating a new branch and not in main branch when committing

![image](https://user-images.githubusercontent.com/18433715/129058615-30a9727a-bbbe-4f69-85bd-847e2

[2021-08-11 16:16] fauzialz commented on #640
Is this issue can only be closed by someone who has direct access to the kawalCovid19 account/repos?

[2021-08-11 16:26] mazipan commented on #640
Only for the owner of this organisation

[2021-08-11 16:30] fauzialz commented on #414
Hello, I have a little experience in writing e2e testing by using Cypress. Is there any consideration on using some particular library to do the e2e?

[2021-08-11 16:50] resir014 opened #645 "Cache static content to improve response time"
## Description

Caching static resources reduces the number of requests to them, therefore improving response times.

## Implementation Model

https://nextjs.org/docs/going-to-production#caching

Since this header is not automatically included on Netlify, we have to manually add them on `netlify.toml`

## Tasks

- [x] Apply `Cache-Control: public, max-age=31536000, immutable` header on `/_next/sta

[2021-08-12 00:08] mazipan commented on #328
The dummy page is live on [/telemedicine](https://www.wargabantuwarga.com/telemedicine)

But if we look in our homepage, for Telemedicine data actually consists of two sections, see screenshot:

![Screenshot_20210812-070458_Chrome](https://user-images.githubusercontent.com/7221389/129118914-a08d9ae2-ab22-464f-ac6c-93076a4c506e.jpg)

1. List of application supported by Kemenkes
2. List of doctycan

[2021-08-12 00:32] mazipan commented on #642
Unfortunately it already in progress by @hariangr

But yes, in the current PR, there is a unfinished task.
To open it on the new tab.

So I think you can open new issue and PR after #643 being merged @suryavip
We need to support to open in new tab

[2021-08-12 00:45] #600 closed

[2021-08-12 01:54] maziyank opened #648 "Need to fix typo and options in province location"
## Overview

The location seems to inconsistent and there a typo (Jakrta Timur and Jakarta Barat).

## Current Tasks

- [ ] Fix Location Typo and Consistency

![jakarta wbw](https://user-images.githubusercontent.com/3317904/129126086-6cacf911-cddd-4e4b-96cd-79c6d775e066.gif)

[2021-08-12 02:03] afifalfiano commented on #380
Hello @zainfathoni mas, Can I know the limitations of doing e2e on the faq page?

[2021-08-12 02:03] #645 closed

[2021-08-12 03:51] mazipan commented on #627
Bump help to upload it @resir014 @zainfathoni

[2021-08-12 04:50] zainfathoni opened #649 "Add proper structured data (json-ld schema) to optimise for rich-text results"
## References

- https://search.google.com/test/rich-results
- https://search.google.com/structured-data/testing-tool

[2021-08-12 04:53] zainfathoni opened #650 "Analyze our performance using Google Trends and take further actions upon it"

[2021-08-12 07:42] mazipan opened #651 "CSP cause Netlify CMS failed to open"
## Description

On #634 we have CSP related pull-request for issue #611

It cause our CMS Netlify failed to open on https://www.wargabantuwarga.com/admin/

Preview Blank Page:

![Screen Shot 2021-08-12 at 14 39 54](https://user-images.githubusercontent.com/7221389/129157575-a4dc9969-269f-457c-9513-b86dc2259d97.png)

Error:

![Screen Shot 2021-08-12 at 14 39 48](https://user-images.githubuserconten

[2021-08-12 07:45] mazipan commented on #651
Call @asaadam & @resir014

[2021-08-12 08:41] asaadam commented on #651
oh sorry.
i will fix now

[2021-08-12 10:12] mazipan commented on #651
Keep this OPEN for now, for discussion w @resir014 later

[2021-08-12 10:33] mazipan opened #654 "Capability to open new tab on Homepage icon"
## Description

Based on issue #321 and PR #643, we add new icon 'kontribusi" which should be redirected to external URL.

The default behaviour is we need to open it on the new tab with proper `rel` attribute value.

## Tasks

- [ ] Add new `external` field on the icon list
- [ ] Handle properly for icons w `external: true`
- [ ] Open in new tab with `nofollow noreferrer noopener`

[2021-08-12 10:35] mazipan commented on #642
Open in #654 ya mas @hariangr

[2021-08-12 10:37] #642 closed

[2021-08-12 11:08] resir014 commented on #651
@mazipan @asaadam We forgot to add the domains for Cloudinary as well.

![image](https://user-images.githubusercontent.com/5663877/129186998-e90426b9-6591-4658-ac94-c0f177cb5194.png)

[2021-08-12 11:42] asaadam commented on #651
just wondering, can we merge [[headers]] to one like this?

[code]

it's also try to disabled 'unsafe-eval'  except on admin page

[2021-08-12 11:51] resir014 commented on #651
No. As per the TOML spec, each `[[headers]]` must exist on its own.

[2021-08-12 12:08] mazipan commented on #651
I think the order was wrong @asaadam.

Should

[code]

[2021-08-12 12:09] asaadam commented on #651
hmm, that make sense. oke i will try it

[2021-08-12 12:15] mazipan commented on #651
Not sure about that 😂
I don't have knowledge to setting up Netlify TOML

[2021-08-12 12:16] asaadam commented on #651
okay I will try to create PR 😆

[2021-08-12 12:19] mazipan commented on #651
https://docs.netlify.com/routing/headers/

[2021-08-12 12:25] asaadam commented on #651
based on this code

[code]

I assume we must declare [[headers]] again.

same here why not just use YAML 😂.

hopefully next header will soon can be used in netlifly, so we don't need to declare headers again 😭

[2021-08-12 14:44] mazipan opened #664 "Explore a better font loading mechanism"
## Description

One of our problematic loading in initial load is our `Inter Font`

![Screen Shot 2021-08-12 at 21 41 04](https://user-images.githubusercontent.com/7221389/129216964-89aa8ecb-0e6b-4761-bb79-a483ee4934b5.png)

There are several things need to tackle:

1. Since font are rarely change, should we treat as static file without `hashing`? Hashing will remove the cache in every deployment.

[2021-08-12 14:58] mazipan opened #665 "Replace Donasi Page thumbnail image using our own Cloudinary"
## Description

Donasi page still using external image, so we can not use the power of next/image, that's why the image will be loaded on the first load and have no optimization in term of dimension, quality and extension

![Screen Shot 2021-08-12 at 21 58 39](https://user-images.githubusercontent.com/7221389/129219766-59b0e6ae-defb-4d69-a7e6-968adf5d1172.png)

## Tasks

- [x] Ask @resir014, @zain

[2021-08-12 15:02] mazipan opened #666 "Donasi Sekarang buttons don't have sufficient color contrast ratio"
## Description

Ask the Designer, can we replace the color using our primary button?

This is the [Lighthouse Report](https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fwww.wargabantuwarga.com#accessibility).

![Screen Shot 2021-08-12 at 22 00 44](https://user-images.githubusercontent.com/7221389/129220138-e1a18cd3-4092-4a66-9fe7-23dab50773f9.png)

## Tasks

- [ ] ...
- [

[2021-08-12 15:05] #651 closed

[2021-08-12 15:09] resir014 commented on #627
Hi @dekwahdimas + @mazipan, please find attached the links to the uploaded images on Cloudinary.

### Collaborators
**Baznas**
https://res.cloudinary.com/wargabantuwarga/image/upload/v1628780534/128877336-0ff01b0b-b180-414d-8b47-d35dc917d6c4_mtoaae.png

**pandemictalks**
https://res.cloudinary.com/wargabantuwarga/image/upload/v1628780581/128877491-64cc40ab-f0a9-413b-a6d1-7bb3f37b9080_x9dvwq.jpg

*

[2021-08-12 15:17] reinhart1010 opened #668 "Improve and organize the list of telemedicine apps in the homepage"
## Description

I just got a recent update from the designer that the new design for this section is ready.
Based on the design, we should keep it on the home page.

[Figma link](https://www.figma.com/file/XNNtIoFEdFqaXOee83n0oN/WBW?node-id=472%3A2939)

<img width="905" alt="Screenshot 2021-08-13 at 19 53 58" src="https://user-images.githubusercontent.com/6315466/129353376-47ba728a-5d9c-49bc-bdcb-

[2021-08-12 15:20] #654 closed

[2021-08-12 15:42] mazipan commented on #668
Actually the content is coming from CMS, we are in progress moving all part to the new page as mentioned on #321

[2021-08-12 16:02] #627 closed

[2021-08-12 16:05] mazipan commented on #627
@all-contributors please add @dekwahdimas for example and data

[2021-08-12 22:56] zainfathoni commented on #318
No, he meant that you could take this issue, @apraditya. @andriawan, please try to avoid passive sentences as much as possible to avoid ambiguity. Your "it could be taken" sentence is unclear on who gets to take the issue. 😅

Please create a **draft pull request** as explained in our [contributing guidelines](https://kcov.id/draft-pr).

[2021-08-12 23:03] zainfathoni commented on #613
We can do it by applying the `stripTags` in the upstream process, which is fetching the data in `fetch-sheets.ts`. To be more specific, I think it should be done in the [contactReducer](https://github.com/kawalcovid19/wargabantuwarga.com/blob/983972edceec8b7af2eb1807e35ab4cf9ca18f9e/etc/fetchers/utils.ts#L54-L79) function here.

[2021-08-12 23:42] mazipan opened #672 "Remove collaborators section from homepage"
## Description

The collaborators section is migrated to `/tentang-kami`, so we can remove it from our homepage

![Screenshot_20210813-064421_Chrome](https://user-images.githubusercontent.com/7221389/129283663-15f88a8d-0872-481f-8ba4-91dd901d7f9e.jpg)

## Tasks

- [ ] Update from CMS

[2021-08-12 23:51] mazipan opened #673 "Remove educations section from homepage"
## Description

Part of #327, we need to remove the section on we merge the PR

## Tasks

- [ ] Update from CMS

[2021-08-13 00:44] mazipan opened #674 "Add edukasi page entry point"
## Description

We need to add new icon set on homepage.

To `/edukasi`

![Screenshot_20210811-205227_Chrome](https://user-images.githubusercontent.com/7221389/129287442-cb8e3539-1063-4869-884a-fbd83d06b2e3.jpg)

![Screen Shot 2021-08-13 at 09 19 52](https://user-images.githubusercontent.com/7221389/129295897-df6217ac-8b95-4e25-8f50-fbc584280961.png)

## Figma

https://www.figma.com/file/XNNtIoFEd

[2021-08-13 00:55] #327 closed

[2021-08-13 01:19] fadillicious commented on #613
thank mas @zainfathoni for your suggestion, I have submit PR 🙏

[2021-08-13 01:39] #613 closed

[2021-08-13 01:51] #672 closed

[2021-08-13 01:51] andriawan commented on #318
sorry, i lost the context mas @zainfathoni. Sorry for my miss understanding 😅  🙏🏼  @zainfathoni @apraditya

[2021-08-13 01:56] zainfathoni commented on #321
I saw issue #668 has been created by @reinhart1010. In the meantime, [I'm checking the UI design](https://kawalcovid19.slack.com/archives/C0279E2Q99Q/p1628819593022900) with Mas @baraeb92 and Mas Momo in Slack.
<img width="506" alt="Screenshot 2021-08-13 at 09 55 54" src="https://user-images.githubusercontent.com/6315466/129294007-1217f4d2-e9a7-4636-910e-ebcc1cbcd2d7.png">

[2021-08-13 02:00] zainfathoni commented on #83
I just granted you edit access to the form, so you can start working on it, Mas @abui-am.
Would you please create a [draft pull request](https://kcov.id/draft-pr) when you start working on it? Thanks!

[2021-08-13 02:03] mazipan commented on #321
![Screen Shot 2021-08-13 at 09 02 22](https://user-images.githubusercontent.com/7221389/129294543-a2fa838f-1b1b-4516-b976-8b443f7c78f0.png)

We have this on Figma, but no ticket for that design.
Also it's not contains info related Apps supported by Kemenkes

[2021-08-13 03:13] zainfathoni commented on #598
I'm reopening this issue since [many testing assertion issues](https://github.com/kawalcovid19/wargabantuwarga.com/pull/614#pullrequestreview-729223117) still need to be addressed.

[2021-08-13 03:20] zainfathoni commented on #668
Based on [the discussion on Slack](https://kawalcovid19.slack.com/archives/C0279E2Q99Q/p1628819593022900).
We can move the description to the top of the [Telemedicine](https://www.wargabantuwarga.com/telemedicine) page.

<img width="406" alt="Screenshot 2021-08-13 at 11 19 42" src="https://user-images.githubusercontent.com/6315466/129300295-351f0944-d3d8-4a3d-baaa-c97a71e13a19.png">

[2021-08-13 03:29] zainfathoni commented on #328
I just addressed this concern in another issue at.

https://github.com/kawalcovid19/wargabantuwarga.com/issues/668#issuecomment-898159979

We can use a simple rich-text field represented in Markdown for the first iteration, then we can improve it after the design is ready.

[2021-08-13 03:36] mazipan commented on #668
Even if we want to develop a proper UI, I think it also not a hard actually, it's not a tricky ticket.
But yeah, just move to CMS for now.

[2021-08-13 03:40] zainfathoni commented on #380
I don't think we have any significant limitations. The page should be completely testable using Cypress without any constraints or limitations, since it's a statically-built public page.

[2021-08-13 03:46] zainfathoni commented on #673
Where can we navigate to the Education section from the home page, Mas @mazipan?

[2021-08-13 03:49] zainfathoni commented on #613
@all-contributors please add @maziyank for bug

[2021-08-13 03:51] rubiagatra commented on #598
Will take a look this weekend @zainfathoni , to list assertion issues

[2021-08-13 04:01] dekwahdimas commented on #648
If we want to fix this issue, it needs to be done from Google Docs, right?

[2021-08-13 04:06] #674 closed

[2021-08-13 04:07] zainfathoni opened #688 "Ensure unit & integration testing best practices"
## Overview

There are a lot of non-recommended practices in our unit & integration tests, such as (not limited to):

- Non-accessible queries
- Irrelevant assertions
- Too large snapshot testings which make them hard to read and rendered them useless
- etc.

All those practices potentially lead to regressions in the future by introducing [false positives](https://zainf.dev/confident-react-testing

[2021-08-13 04:09] zainfathoni commented on #598
Would you please collect all the testing practices across the project that we need to refactor and put them under this #688 epic, Mas @rubiagatra? I have invited you as a collaborator into the project, so you should be able to edit the epic's description once you accepted my invitation.
Thanks! 🙏

[2021-08-13 04:21] zainfathoni commented on #648
Yes, it is. I have notified the content editor to fix it.
Thanks for the report, Mas @maziyank"

[2021-08-13 04:22] mazipan commented on #673
On #674, waiting for next cronjob for deployment

[2021-08-13 04:35] mazipan commented on #673
![Screen Shot 2021-08-13 at 11 35 06](https://user-images.githubusercontent.com/7221389/129305385-78c57f94-84e7-47b9-8d57-e7a9c1b897c8.png)

It's already LIVE

[2021-08-13 05:14] zainfathoni commented on #482
@apraditya @resir014
Please use `admin@kawalcovid19.id` email for that. We're using the same email in our [CODE_OF_CONDUCT.md](https://github.com/kawalcovid19/wargabantuwarga.com/blob/main/CODE_OF_CONDUCT.md#enforcement).

[2021-08-13 05:23] zainfathoni opened #691 "Performance improvements"
## Overview

There are more areas of improvement in our web performance aspects.

## Current Tasks

- [x] #637
- [x] #638
- [x] #664
- [x] #665
- [x] #760

[2021-08-13 05:30] zainfathoni commented on #414
The only considerations are:

1. It should work well with Cypress
2. It should comply with this testing [guiding principles](https://testing-library.com/docs/guiding-principles) defined by the Testing Library community

[2021-08-13 05:34] zainfathoni commented on #640
Done. How can we verify that it's working, Mas @mazipan? 😁

[2021-08-13 05:35] zainfathoni commented on #640
Oh, there it is! #693 🚀

[2021-08-13 05:36] #640 closed

[2021-08-13 05:49] svspicious commented on #664
I can work on this.

My solution is to replace `typeface-inter` with self-hosted font (yes as a static file) and then `Cache-Control` via `netlify.toml`

also we can use **Inter** *variable fonts* used by vercel here (https://vercel.com/design/text) it's smaller only 38kb
https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2
![image](https://user-images.githubusercontent.c

[2021-08-13 05:54] zainfathoni commented on #666
[Question has been asked](https://kawalcovid19.slack.com/archives/C0279E2Q99Q/p1628834013026100), let's wait for the response. 😁
<img width="403" alt="Screenshot 2021-08-13 at 13 54 03" src="https://user-images.githubusercontent.com/6315466/129311314-f814c6e7-3b82-4d9a-ac41-176ddc4fb2b0.png">

[2021-08-13 06:02] #673 closed

[2021-08-13 06:05] zainfathoni commented on #664
Nice, sounds good. Please proceed with this approach, @svspicious. Create a [draft pull request](https://kcov.id/draft-pr) and add a `need-perf-check` label on the PR to trigger the Lighthouse CI check on the changes and see its impact on the performance.

[2021-08-13 06:32] dekwahdimas opened #696 "Credential to Netlify CMS and Cloudinary Dashboard"
I've been reading issues with documentation label on it and found out that most of them required an access to Netlify CMS or Cloudinary Dashboard if we want to solve those issues. Then, I found this gist.

https://gist.github.com/ekafyi/1a86987c111a96976309c12f047d43a9

I tried to search Mas @zainfathoni to ask for credential but then I got stuck again because I'm not part of WBW Slack.

I'm not s

[2021-08-13 06:33] zainfathoni opened #697 "Avoid extensive usages of `.toMatchInlineSnapshot()` in tests to make it more useful"
## Description

The extensive usages of `.toMatchInlineSnapshot()` assertion causes unnecessary snapshot changes that are weakly related with the changes we made in each PRs. It renders the snapshots to be less useful.

We have to replace those assertions with more meaningful assertions.

## Implementation model

We need to avoid snapshot testing using `.toMatchInlineSnapshot()` in favour of testi

[2021-08-13 06:37] svspicious commented on #664
Can you help me to add the label mas @zainfathoni ?

[2021-08-13 06:41] zainfathoni commented on #696
Sorry for the trouble, @dekwahdimas. 😅

## Short-term solution

You can request access to Netlify CMS from me, just provide me with your Gmail account, so you can log in using Google account.
Whereas for the Cloudinary Dashboard, since we're using the free tier with a shared account, we can't easily share the access. You can ask us to take the necessary screenshots, or you can take screenshots fro

[2021-08-13 06:43] zainfathoni commented on #664
Done. Let's wait for [the result](https://github.com/kawalcovid19/wargabantuwarga.com/pull/694/checks?check_run_id=3319509306) now.

[2021-08-13 06:43] #638 closed

[2021-08-13 07:06] dekwahdimas commented on #696
Okay, now I feel embarrassed for requesting this, haha.

Can I contact you from discord, Mas @zainfathoni? I just found it after looking at your GitHub profile when searching for your email.

[2021-08-13 07:09] zainfathoni commented on #696
Yes, of course. See you on Discord. 😉

[2021-08-13 07:59] mazipan commented on #665
I will help to upload it, I already got access to upload it.
Wait ya...

[2021-08-13 09:13] rubiagatra commented on #598
Sure!, I already accepted invitation, thanks mas @zainfathoni will do my best

[2021-08-13 10:11] #664 closed

[2021-08-13 11:20] zainfathoni commented on #666
Yes, we can. So for whoever taking this ticket, please replace that button with our primary button.

[2021-08-13 11:54] zainfathoni commented on #328
I just got a recent update from the designer that the new design for this section is ready.
Based on the design, we should keep it at the home page.

[Figma link](https://www.figma.com/file/XNNtIoFEdFqaXOee83n0oN/WBW?node-id=472%3A2939)

<img width="905" alt="Screenshot 2021-08-13 at 19 53 58" src="https://user-images.githubusercontent.com/6315466/129353376-47ba728a-5d9c-49bc-bdcb-684a123272b6.png

[2021-08-13 11:54] zainfathoni commented on #668
I just got a recent update from the designer that the new design for this section is ready.
Based on the design, we should keep it at the home page.

[Figma link](https://www.figma.com/file/XNNtIoFEdFqaXOee83n0oN/WBW?node-id=472%3A2939)

<img width="905" alt="Screenshot 2021-08-13 at 19 53 58" src="https://user-images.githubusercontent.com/6315466/129353376-47ba728a-5d9c-49bc-bdcb-684a123272b6.png

[2021-08-13 12:33] mazipan commented on #668
What about entry point for "Konseling page" mas @zainfathoni?

[2021-08-13 14:00] #666 closed

[2021-08-13 15:09] resir014 commented on #668
@mazipan Let's put that in another issue.

[2021-08-13 15:38] mazipan opened #710 "Add Officially Supported Apps section in homepage"
## Description

Related with #668, we need to create new section to replace "Officially Supported Apps by Kemenkes" in our homepage

![Screen Shot 2021-08-13 at 22 35 42](https://user-images.githubusercontent.com/7221389/129383562-471eba41-7168-4a82-97f7-8a588ef08ad4.png)

## Figma

https://www.figma.com/file/XNNtIoFEdFqaXOee83n0oN/WBW?node-id=458%3A1634

## Implementation Model

The data will be